@model Software_Company_Website.Models.JobCVPdf_tbl

@{
    ViewBag.Title = "Create";
}

<script src="~/jquery_Bootstrap_SweetAlert_IHover/SweetAlert/sweetalert.min.js"></script>
<style>
    div ul li {
        line-height: 150%;
    }

    div h4 {
        line-height: 130%;
    }
</style>

<br />
<br />
<div class="container">
    <div align="center">
        <b style="font-size: 40px; color: orange">Software Engineer, Asp.net</b>
        <hr style="border: 4px solid; color: #F5F3F1">
    </div>
</div>
<br />

<div class="container">
    <div class="row">
        <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 col-lg-offset-1 col-md-offset-1">
            <div class="well">
                <h3 style="font-family: Impact">Job Responsibilities</h3>
                <ul class="h4">
                    <li>Analyze and Design applications and databases</li>
                    <li>Develop standard web based business application using Asp.Net and SQL Server</li>
                    <li>Strong knowledge on ASP.NET MVC, Cshtml/Razor and JS/Jquery</li>
                    <li>Excellent capability of writing complex SQL queries and Procedure/function</li>
                    <li>Ability to meet deadlines and achieve specified results.</li>
                </ul>
            </div>
            <div class="well">
                <h4 style="font-family: Impact">Employment Status</h4>
                <ul class="h4">
                    <li>Full-time</li>
                </ul>
                <h4 style="font-family: Impact">Educational Requirements</h4>
                <ul class="h4">
                    <li>B.Sc in Computer Science and Engineering.</li>
                </ul>
                <h4 style="font-family: Impact">Experience Requirements</h4>
                <ul class="h4">
                    <li>At least 3 year(s)</li>
                    <li>The applicants should have experience in the following area(s):</li>
                </ul>
            </div>
            <div class="well">
                <h3 style="font-family: Impact">Additional Requirements</h3>
                <ul class="h4">
                    <li>Age 24 to 32 years</li>
                    <li>Both males and females are allowed to apply</li>
                    <li>At least 3 year experience of ASP.NET Development experience (Must)</li>
                    <li>Good understanding about SQL SERVER</li>
                    <li>Excellent Knowledge on C#/.NET, Entity Framework and LINQ</li>
                    <li>Sound Knowledge in Telerik</li>
                    <li>Candidate must have strong skills in programming languages such as JavaScript, HTML, XML, XHTML and XAML</li>
                    <li>Sound knowledge on OOP principles, design patterns etc.</li>
                    <li>Good understanding about .NET language features like Attributes, Reflections, Serializations and Generic etc.</li>
                    <li>Excellent capability of writing complex SQL queries and database administration</li>
                    <li>Writes optimized code</li>
                    <li>Should have sound knowledge in Web 2.0 concept, including Ajax Toolkits, JQuery, Ajax, , Angular, Crystal Report</li>
                    <li>You must be a good team player, highly self motivated and a strong communicator</li>
                    <li>Experience in ERP will be preferred.</li>
                    <li>Knowledge of Bangladesh Financial and Capital Markets is a STRONG PLUS.</li>
                </ul>
            </div>
            <div class="well">
                <h4 style="font-family: Impact">Job Location</h4>
                <ul class="h4">
                    <li>Dhaka, Dhaka Division</li>
                </ul>
                <h4 style="font-family: Impact">Salary</h4>
                <ul class="h4">
                    <li>Negotiable</li>
                </ul>
                <h4 style="font-family: Impact">Compensation & Other Benefits</h4>
                <ul class="h4">
                    <li>Provident fund, Weekly 2 holidays, Performance bonus</li>
                    <li>Salary Review: Half Yearly</li>
                    <li>Festival Bonus: 2(Yearly)</li>
                </ul>
            </div>
            <div class="well">
                <h3 style="font-family: Impact">Read Before Apply</h3>
                <h4>
                    Company Information Cygnus Innovation Ltd. Address : House-C-39, 1st Floor, Block-C, Road-06, Niketon, Gulshan-1, Dhaka-1212. Web : Business : CYGNUS INNOVATION LTD. is one of the leading Information Technology Solution Companies in Bangladesh with a strong talented team that provides extensive range of products and services. It has built a reputation for innovation and delivering excellence in enterprise application development, with industry-specific software expertise in financial, real estate and medical sectors.
                </h4>
                <h4>
                    We offer comprehensive products and services, custom software and web solutions for businesses worldwide. With a rich experience of successful offshore & national engagements, we are committed to building long lasting strategic partnerships with our clients to ensure extremely competitive and affordable prices, timely delivery and measurable business results. We constantly focus on providing high quality products and services to meet the exacting requirements of our customers.
                </h4>
            </div>


            @using (Html.BeginForm("Create", "ApplyForAJob", FormMethod.Post, new { encType = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()

                <div class="well">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="form-group has-success">
                                <label>Name</label>
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-user"></span>
                                    </span>
                                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @id = "txtName", @class = "form-control", @placeholder = "Enter your Name", @required = "true" } })
                                </div>
                                @*@Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })*@

                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="form-group has-success">
                                <label>Phone Number</label>
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-phone-alt"></span>
                                    </span>
                                    @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @id = "txtPhoneNumber", @class = "form-control", @placeholder = "Enter your Phone Number", @required = "true" } })
                                </div>
                                @*@Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })*@
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="form-group has-success">
                                <label>Email ID</label>
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-envelope"></span>
                                    </span>
                                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @id = "txtEmail", @class = "form-control", @placeholder = "Enter your Email ID", @required = "true" } })
                                </div>
                                @*@Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })*@
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="form-group has-success">
                                <label>Upload Your CV</label>
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-open"></span>
                                    </span>
                                    <input type="file" name="pdf" id="FileUpload1" class="form-control" required />
                                </div>
                            </div>
                        </div>
                    </div>

                    <br />

                    <div class="row">
                        <input id="btnUpload" type="submit" value="Upload Your CV" class="btn btn-primary btn-sm pull-right" style="width: 190px; margin-right: 16px;" />
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<script type="text/javascript">

    function validateEmail(sEmail) {
        var filter = /^([\w-\.]+)@@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([\w-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$/;
        if (filter.test(sEmail)) {
            return true;
        }
        else {
            return false;
        }
    }

    $(document).ready(function () {
        $('#btnUpload').click(function () {
            var extension = $('#FileUpload1').val().split('.').pop().toLowerCase();
            var sEmail = $('#txtEmail').val();

            if ($('#txtName').val().trim() !== '' && $('#txtPhoneNumber').val().trim() !== '' && $('#txtEmail').val().trim() !== '' && $('#FileUpload1').val() !== '') {
                if (validateEmail(sEmail)) {

                }
                else {
                    swal("Sorry!", "please Enter a valid email address!", "error");
                    return false;
                }

                if ($.inArray(extension, ['pdf']) == -1) {
                    //alert('Sorry, You can only upload an image.');
                    swal("Sorry!", "You can only upload a pdf file!", "error");
                    return false;
                }
                else {
                    //alert('Thank you for Uploading your CV!');
                    //swal("Success!", "Thank you for Uploading your CV!", "Success");
                    return true;
                }
            }
        });
    });
</script>
