@model DIU_CPC_BlueDivision.Models.Problem
@using DIU_CPC_BlueDivision.Models;

@{
    ViewBag.Title = "Delete";

    string appPath = "";
    appPath = string.Format("{0}", Request.Url.AbsoluteUri);
    string[] arr = appPath.Split('/');
    int id = Convert.ToInt32(arr[5]);

    BlueSheetsProblemsStudentsEntities db = new BlueSheetsProblemsStudentsEntities();
    Problem problem = db.Problems.Find(id);
    int blueId = (int) problem.BlueSheetId;

}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Problem</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ProblemName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProblemName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProblemLink)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProblemLink)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Comment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BlueSheet.BlueSheetName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BlueSheet.BlueSheetName)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index", new { id_Or_SheetName = blueId })
        </div>
    }
</div>
