@model IEnumerable<DIU_CPC_BlueDivision.Models.Problem>
@using Microsoft.AspNet.Identity;
@using DIU_CPC_BlueDivision.DifferentLayout_Database;

@{
    /**/

    ViewBag.Title = "Index";

    string str = "", UserName = "";
    str = User.Identity.GetUserId();

    if (!string.IsNullOrEmpty(str))
    {
        AspNetUsersBusinessLayer aspNetUsersBusinessLayer = new AspNetUsersBusinessLayer();
        UserName = aspNetUsersBusinessLayer.GetUserName(str);
    }
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProblemName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProblemLink)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Comment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BlueSheet.BlueSheetName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProblemName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProblemLink)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BlueSheet.BlueSheetName)
            </td>
            <td>

                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("ProbStu_Edit", "Edit", "ProblemsStudents", new { problemId = item.Id, userName = UserName }, null) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })|
                @Html.ActionLink("Solver", "Solver", "ProblemsStudents", new { problemId = item.Id }, null)
            </td>
        </tr>
    }

</table>
