@model IEnumerable<Software_Company_Website.Models.Blog_tbl>
@using System.Text;
@{
    ViewBag.Title = "ManePageIndex";
}


<style>
    #imageCarousel1 .carousel-inner .item .well {
        /*padding: 10px;*/
        height: 220px;
        border-radius: 60px;
    }

    #imageCarousel2 .carousel-inner .item .well {
        /*padding: 10px;*/
        height: 250px;
        border-radius: 60px;
    }

    .inner {
        overflow: hidden;
    }

        .inner img {
            transition: all 1.0s ease;
        }

        .inner:hover img {
            transform: scale(1.3);
        }

    .logoBounce:hover {
        animation: bounce .8s;
    }

    .space {
        word-spacing: 30px
    }

    .innerShadow {
        box-shadow: inset 0px 0px 20px 0px rgba(0,0,0,1);
    }

    .panel {
        border-radius: 20px;
    }

    #map {
        height: 450px;
        width: 100%;
    }
</style>


@*popup video show style section*@
<style>
    #home {
        background: url(../Image/computer1.jpg) no-repeat center fixed;
        display: table;
        height: 100%;
        width: 100%;
        position: relative;
        background-size: cover;
    }

    .landing-text {
        display: table-cell;
        text-align: center;
        vertical-align: middle;
    }
</style>

<br />
<br />

<div class="container">
    @*<div class="row text-center">
        <div class="col-xs-5">
            <div class="row">
                <div class="col-xs-6 column">Column 1</div>
                <div class="col-xs-6 column">Column 2</div>
            </div>
        </div>
        <div class="col-xs-7">
            <div class="row">
                <div class="col-xs-4 column">Column 3</div>
                <div class="col-xs-4 column">Column 4</div>
                <div class="col-xs-4 column">Column 5</div>
            </div>
        </div>
    </div>*@

    <div class="row text-center">
        <p style="font-size: 30px; font-family: Impact">Over 250 satisfied customers globally</p>
    </div>
    <br />
    <br />
    <div class="row">
        <div class="col-xs-4 col-sm-2 col-md-2 companyInnerImage1">
            <a href="#">
                <img src="../Image/company_name.png" style="border: 6px solid; border-color: #F5F3F1;" class="img-responsive imgHover" />
            </a>
            <br />
        </div>
        <div class="col-xs-4 col-sm-2 col-md-2 companyInnerImage2">
            <a href="#">
                <img src="../Image/company_name.png" style="border: 6px solid; border-color: #F5F3F1" class="img-responsive imgHover" />
            </a>
            <br />
        </div>
        <div class="col-xs-4 col-sm-2 col-md-2 companyInnerImage3">
            <a href="#">
                <img src="../Image/company_name.png" style="border: 6px solid; border-color: #F5F3F1" class="img-responsive imgHover" />
            </a>
            <br />
        </div>
        <div class="col-xs-4 col-sm-2 col-md-2 companyInnerImage4">
            <a href="#">
                <img src="../Image/company_name.png" style="border: 6px solid; border-color: #F5F3F1" class="img-responsive imgHover" />
            </a>
            <br />
        </div>
        <div class="col-xs-4 col-sm-2 col-md-2 companyInnerImage5">
            <a href="#">
                <img src="../Image/company_name.png" style="border: 6px solid; border-color: #F5F3F1" class="img-responsive imgHover" />
            </a>
            <br />
        </div>
        <div class="col-xs-4 col-sm-2 col-md-2 companyInnerImage6">
            <a href="#">
                <img src="../Image/company_name.png" style="border: 6px solid; border-color: #F5F3F1" class="img-responsive imgHover" />
            </a>
            <br />
        </div>
    </div>
    <div class="row">
        <div class="col-xs-4 col-sm-2 col-md-2 col-md-offset-1 col-sm-offset-1 companyInnerImage7">
            <a href="#">
                <img src="../Image/company_name.png" style="border: 6px solid; border-color: #F5F3F1" class="img-responsive imgHover" />
            </a>
            <br />
        </div>
        <div class="col-xs-4 col-sm-2 col-md-2 companyInnerImage8">
            <a href="#">
                <img src="../Image/company_name.png" style="border: 6px solid; border-color: #F5F3F1" class="img-responsive imgHover" />
            </a>
            <br />
        </div>
        <div class="col-xs-4 col-sm-2 col-md-2 companyInnerImage9">
            <a href="#">
                <img src="../Image/company_name.png" style="border: 6px solid; border-color: #F5F3F1" class="img-responsive imgHover" />
            </a>
            <br />
        </div>
        <div class="col-xs-4 col-sm-2 col-md-2 hidden-xs companyInnerImage10">
            <a href="#">
                <img src="../Image/company_name.png" style="border: 6px solid; border-color: #F5F3F1" class="img-responsive imgHover" />
            </a>
            <br />
        </div>
        <div class="col-xs-4 col-sm-2 col-md-2 hidden-xs companyInnerImage11">
            <a href="#">
                <img src="../Image/company_name.png" style="border: 6px solid; border-color: #F5F3F1" class="img-responsive imgHover" />
            </a>
            <br />
        </div>
        <div class="col-xs-4 col-sm-2 col-md-2 col-xs-offset-2 hidden-lg hidden-md hidden-sm companyInnerImage12">
            <img src="../Image/company_name.png" style="border: 6px solid; border-color: #F5F3F1" class="img-responsive imgHover" />
            <br />
        </div>
        <div class="col-xs-4 col-sm-2 col-md-2 hidden-lg hidden-md hidden-sm companyInnerImage13">
            <a href="#">
                <img src="../Image/company_name.png" style="border: 6px solid; border-color: #F5F3F1" class="img-responsive imgHover" />
            </a>
            <br />
        </div>
    </div>
</div>

<br />
<br />
<br />

<div id="home">
    <div class="landing-text" style="height: 300px">
        <br />
        <div class="container" align="center">
            <a id="VideoPopUp" href="#" data-target="#VideoModal" data-toggle="modal">
                <img src="../Image/playButtonFrame.png" style="height: 100px;" class="img-responsive" />
            </a>
            <h3 style="color: white">Watch video of how it works here</h3>
        </div>
    </div>
</div>

<br />
<br />
<br />

<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <p class="text-center" style="font-family: Impact; font-size: 30px">Indigenous IT consulting company with global deliveries</p>
            <br />
            <br />
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-4 col-md-4">
            <div class="well" style="min-height: 330px">
                <h4 class="text-center" style="font-family: Impact; padding-bottom: 10px;">CUSTOMER ENGAGEMENT</h4>
                <h4 style="line-height: 130%">Our clients call us committed. We don’t work with IT – we work with people. Our agile teams co-operate with our clients using best practice SCRUM methodology. We know what it takes for the communication between client and developers to flow seamlessly.</h4>
                <br />
                <br />
                <a href="#" style="outline: none; font-size: 18px"><span class="glyphicon glyphicon-share-alt" style="padding-right: 15px"></span>Read More Click Here...</a>
            </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4">
            <div class="well" style="min-height: 330px">
                <h4 class="text-center" style="font-family: Impact; padding-bottom: 10px">CAPACITY</h4>
                <h4 style="line-height: 130%">We have close to 100 employees, which allows us to quickly find the right resources for our clients. We also have a thorough and reliable recruitment process which allows our clients to quickly staff up their teams when their businesses grow or when there is a temporary increase in workload</h4>
                <br />
                <a href="#" style="outline: none; font-size: 18px"><span class="glyphicon glyphicon-share-alt" style="padding-right: 15px"></span>Read More Click Here...</a>
            </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4">
            <div class="well" style="min-height: 330px">
                <h4 class="text-center" style="font-family: Impact; padding-bottom: 10px">QUALITY</h4>
                <h4 style="line-height: 130%">We work hard to attract the best competence, and our employees stay with us for a long time. We apply the same Swedish personnel politics at all our offices, regardless of location. We erase hierarchies, and we listen to our employees’ career development needs.</h4>
                <br />
                <br />
                <a href="#" style="outline: none; font-size: 18px"><span class="glyphicon glyphicon-share-alt" style="padding-right: 15px"></span>Read More Click Here...</a>
            </div>
        </div>
    </div>
</div>

<br />
<br />
<br />
<hr style="border: 5px solid; color: #F5F3F1">
<br />
<br />

<div class="container">
    <div class="row text-center hidden-xs">
        <p style="font-family: Impact; font-size: 30px">How does it work?</p>
        <br />
        <div class="col-md-2 col-sm-4 col-xs-4 im2" style="color: orange">
            <img class="logoBounce" style="height: 100px; width: 100px" src="../Image/icons8-increase-64.png" />
            <h4><b>improvements</b></h4>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-4 im2" style="color: orange">
            <img class="logoBounce" style="height: 100px; width: 100px" src="../Image/icons8-laptop-64.png" />
            <h4><b>Need analysis</b></h4>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-4 im1" style="color: orange">
            <img class="logoBounce" style="height: 100px; width: 100px" src="../Image/icons8-in-transit-64.png" />
            <h4><b>Development</b></h4>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-4 im2" style="color: orange">
            <img class="logoBounce" style="height: 100px; width: 100px" src="../Image/icons8-windows-client-64.png" />
            <h4><b>Start of project</b></h4>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-4 im1" style="color: orange">
            <img class="logoBounce" style="height: 100px; width: 100px" src="../Image/icons8-comments-64.png" />
            <h4><b>Requirement analysis</b></h4>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-4 im1" style="color: orange">
            <img class="logoBounce" style="height: 100px; width: 100px" src="../Image/icons8-idea-64.png" />
            <h4><b>Proposed solution</b></h4>
        </div>
    </div>

    <div class="row text-center hidden-lg hidden-md hidden-sm">
        <p style="font-family: Impact; font-size: 30px">How does it work?</p>
        <br />
        <div class="col-md-2 col-sm-4 col-xs-4 im2" style="color: orange">
            <img class="logoBounce" style="height: 70px; width: 70px" src="../Image/icons8-increase-64.png" />
            <h5><b>improvements</b></h5>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-4 im2" style="color: orange">
            <img class="logoBounce" style="height: 70px; width: 70px" src="../Image/icons8-laptop-64.png" />
            <h5><b>Need analysis</b></h5>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-4 im1" style="color: orange">
            <img class="logoBounce" style="height: 70px; width: 70px" src="../Image/icons8-in-transit-64.png" />
            <h5><b>Development</b></h5>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-4 im2" style="color: orange">
            <img class="logoBounce" style="height: 70px; width: 70px" src="../Image/icons8-windows-client-64.png" />
            <h5><b>Start of project</b></h5>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-4 im1" style="color: orange">
            <img class="logoBounce" style="height: 70px; width: 70px" src="../Image/icons8-comments-64.png" />
            <h5><b>Requirement analysis</b></h5>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-4 im1" style="color: orange">
            <img class="logoBounce" style="height: 70px; width: 70px" src="../Image/icons8-idea-64.png" />
            <h5><b>Proposed solution</b></h5>
        </div>

    </div>
    <br />
    <br />
    <div class="row">
        <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
            <a href="@Url.Action("Index", "HowDoesItWork")" id="btn-read" class="btn btn-block btn-default shadow_B" style="border-radius: 20px; font-size: 17px">READ MORE ABOUT THIS</a>
        </div>
    </div>
</div>

<br />
<br />
<br />
<br />
<br />

<div id="map"></div>

<br />
<br />
<br />
<br />

<div class="container">
    <div class="row">
        <br />
        <div class="text-center">
            <div id="imageCarousel2" class="carousel slide" data-interval="false"
                 data-ride="carousel" data-pause="false" data-wrap="true">

                <div class="carousel-inner hidden-lg hidden-md" style="border-radius: 5px">
                    <div class="item active">
                        <div class="well" style="color: black">
                            <h4>
                                <i style="line-height: 130%">
                                    We had numerous reasons for wanting to set up a web shop,
                                    and Indpro immediately felt like the right provider for us.
                                    We had numerous reasons for wanting to set up a web shop,
                                    and Indpro immediately felt like the right provider for us.
                                </i>
                            </h4>
                            <h4>Redwan Hossain</h4>
                            <b style="color: orange">CEO, Metric Industrial AB</b>
                        </div>
                    </div>
                    <div class="item">
                        <div class="well" style="color: black">
                            <h4>
                                <i style="line-height: 130%">
                                    We had numerous reasons for wanting to set up a web shop,
                                    and Indpro immediately felt like the right provider for us.
                                    We had numerous reasons for wanting to set up a web shop,
                                    and Indpro immediately felt like the right provider for us.
                                </i>
                            </h4>
                            <h4>Ramijul Islam</h4>
                            <b style="color: orange">CEO, Metric Industrial AB</b>
                        </div>
                    </div>
                    <div class="item">
                        <div class="well" style="color: black">
                            <h4>
                                <i style="line-height: 130%">
                                    We had numerous reasons for wanting to set up a web shop,
                                    and Indpro immediately felt like the right provider for us.
                                    We had numerous reasons for wanting to set up a web shop,
                                    and Indpro immediately felt like the right provider for us.
                                </i>
                            </h4>
                            <h4>Shihab Sharar</h4>
                            <b style="color: orange">CEO, Metric Industrial AB</b>
                        </div>
                    </div>
                    <div class="item">
                        <div class="well" style="color: black">
                            <h4>
                                <i style="line-height: 130%">
                                    We had numerous reasons for wanting to set up a web shop,
                                    and Indpro immediately felt like the right provider for us.
                                    We had numerous reasons for wanting to set up a web shop,
                                    and Indpro immediately felt like the right provider for us.
                                </i>
                            </h4>
                            <h4>Mohoshin Khan</h4>
                            <b style="color: orange">CEO, Metric Industrial AB</b>
                        </div>
                    </div>
                </div>
                <div class="titelButton">
                    <a href="#imageCarousel2" class="carousel-control left hidden-lg hidden-md" style="height: 250px; border-radius: 5px" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                    </a>
                    <a href="#imageCarousel2" class="carousel-control right hidden-lg hidden-md" style="height: 250px; border-radius: 5px" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </a>
                </div>
            </div>

            <div id="imageCarousel1" class="carousel slide" data-interval="false"
                 data-ride="carousel" data-pause="false" data-wrap="true">
                <div class="carousel-inner hidden-sm hidden-xs" style="border-radius: 5px">
                    <div class="item active">
                        <div class="row">
                            <div class="col-lg-6 col-md-6">
                                <div class="well" style="color: black">
                                    <h4>
                                        <i style="line-height: 130%">
                                            We had numerous reasons for wanting to set up a web shop,
                                            and Indpro immediately felt like the right provider for us.
                                            We had numerous reasons for wanting to set up a web shop,
                                            and Indpro immediately felt like the right provider for us.
                                        </i>
                                    </h4>
                                    <h3>Redwan Hossain</h3>
                                    <b style="color: orange">CEO, Metric Industrial AB</b>
                                </div>
                            </div>
                            <div class="hidden-lg hidden-sm hidden-md col-xs-12">
                                <br />
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="well" style="color: black">
                                    <h4>
                                        <i style="line-height: 130%">
                                            We had numerous reasons for wanting to set up a web shop,
                                            and Indpro immediately felt like the right provider for us.
                                            We had numerous reasons for wanting to set up a web shop,
                                            and Indpro immediately felt like the right provider for us.
                                        </i>
                                    </h4>
                                    <h3>Ramijul Islam</h3>
                                    <b style="color: orange">CEO, Metric Industrial AB</b>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="row">
                            <div class="col-lg-6 col-md-6">
                                <div class="well" style="color: black">
                                    <h4>
                                        <i style="line-height: 130%">
                                            We had numerous reasons for wanting to set up a web shop,
                                            and Indpro immediately felt like the right provider for us.
                                            We had numerous reasons for wanting to set up a web shop,
                                            and Indpro immediately felt like the right provider for us.
                                        </i>
                                    </h4>
                                    <h3>Shihab Sharar Khan</h3>
                                    <b style="color: orange">CEO, Metric Industrial AB</b>
                                </div>
                            </div>
                            <div class="hidden-lg hidden-sm hidden-md col-xs-12">
                                <br />
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="well" style="color: black">
                                    <h4>
                                        <i style="line-height: 130%">
                                            We had numerous reasons for wanting to set up a web shop,
                                            and Indpro immediately felt like the right provider for us.
                                            We had numerous reasons for wanting to set up a web shop,
                                            and Indpro immediately felt like the right provider for us.
                                        </i>
                                    </h4>
                                    <h3>Mohoshin Khan</h3>
                                    <b style="color: orange">CEO, Metric Industrial AB</b>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="titelButton">
                    <a href="#imageCarousel1" class="carousel-control left hidden-sm hidden-xs" style="height: 220px; border-radius: 5px" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                    </a>
                    <a href="#imageCarousel1" class="carousel-control right hidden-sm hidden-xs" style="height: 220px; border-radius: 5px" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </a>
                </div>
            </div>
        </div>
        <br />
    </div>
</div>

<hr style="border: 5px solid; color: #F5F3F1">
<div class="container">
    <div class="row">
        <div class="text-center">
            <p style="font-family: Impact; font-size: 30px;">Tech news from the Company blog</p>
        </div>
    </div>
    <br />
    <br />

    @foreach (var item in Model)
    {
        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
            @*col-xs-12 col-sm-12 col-md-12 col-lg-12*@
            <div class="thumbnail shadow_B" style="min-height: 435px;">
                @*style="max-width: 500px"*@
                <div class="inner" align="center">
                    @{
                        var imgSrc = "";
                        if (item.BlogImage != null)
                        {
                            var base64 = Convert.ToBase64String(item.BlogImage);
                            imgSrc = String.Format("data:image/gif;base64,{0}", base64);
                            <img src="@imgSrc" alt="image" style="width: 350px; height:190px" class="img-responsive" />
                        }
                        else
                        {
                            <img src="../Image/crose.jpg" alt="image" style="width: 310px; height:190px" class="img-responsive">
                        }
                    }

                </div>
                <br />
                <div class="caption text-center">
                    <p>
                        @{
                            string str3 = item.Title;
                            if (str3.Length > 90)
                            {
                                StringBuilder sb = new StringBuilder(str3);
                                sb.Remove(90, sb.Length - 90);
                                str3 = sb.ToString() + "...";
                            }
                        }
                        <label style="font-size: 18px" id="Label1">@str3</label>
                    </p>
                    <p>
                        <label style="color:red" class="h5" id="TextBox1">@Html.DisplayFor(modelItem => item.Date)</label>
                    </p>
                    @{
                        string str = item.BlogDivId;
                        string url = HttpContext.Current.Request.Url.AbsoluteUri;
                        Uri uri = new Uri(url);
                        string address = uri.Scheme + Uri.SchemeDelimiter + uri.Host + ":" + uri.Port + "/Blog_tbl#" + str;
                    }
                    <a href="@address" class="btn btn-default btn-block" style="border-radius: 20px; outline: none; color: orange; font-size: 15px">Get More Info</a>
                </div>
            </div>
        </div>
        @*@Html.ActionLink("Details", "Details", new { id = item.Id })*@
    }

</div>

<div class="modal fade" id="VideoModal" tabindex="-1" data-keyboard="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" style="background-color: darkgray">
            <div class="modal-header">
                <button class="close" data-dismiss="modal" style="color: black; font-size: 40px">&times;</button>
                <p class="modal-title text-center" style="font-size: 23px"><b>Watch video of how it works here</b></p>
            </div>
            <div class="modal-body col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <br />
                <div class="col-sm-6">
                    @*onek video iframe a support kore na embed a kore. but, embed a full screen hoy na. iframe a hoy*@
                    @*embed use korle youtube er video link like https://www.youtube.com/watch?v=aPw1M_Ehg94 ai ta er "watch?" tuku and "=" er poriborte "/" hobe*@
                    @*<embed width="300" height="180" src="https://www.youtube.com/v/aPw1M_Ehg94" />*@
                    <div class="embed-responsive embed-responsive-16by9" style="border-radius: 10px">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/748BFvqYHG8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                    <br />
                </div>
                <div class="col-sm-6">
                    <div class="embed-responsive embed-responsive-16by9" style="border-radius: 10px">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/nD7uDivzMiA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                @*<asp:Button ID="btnHideVideoModal" runat="server" Text="Close" class="btn btn-primary btn-sm" data-dismiss="modal" />*@
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        //var el = document.getElementById('toggleButton');
        // space deoyar jonno \xa0 aita use korte hoy
        //el.value = "Watch video of how it works here" + "\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0||\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0" + "Watch video of how it works here";
        //el.innerHTML = "Watch video of how it works here" + "\xa0\xa0\xa0\xa0\xa0\xa0\xa0||\xa0\xa0\xa0\xa0\xa0\xa0\xa0" + "Watch video of how it works here";
        $('#toggleButton').click(function () {
            $('#video').collapse('toggle');
        });

    });
</script>

@*Animate a div when we scroll to its position*@
@*<script type="text/javascript">
            $(document).ready(function () {
                $(window).scroll(function () {
                    var positionTop = $(document).scrollTop();
                    console.log(positionTop);
                    if ((positionTop > 1000) && (positionTop < 1900)) {
                        $('.im1').addClass('animated fadeInLeft');
                        $('.im2').addClass('animated fadeInRight');
                    }
                    else {
                        $('.im1').removeClass('animated fadeInLeft');
                        $('.im2').removeClass('animated fadeInRight');
                    }
                });
            });
    </script>*@


<script type="text/javascript">
    $('.companyInnerImage1').mouseover(function () {
        $('.companyInnerImage1 img').addClass('animated flipInY');
    });
    $('.companyInnerImage1').mouseout(function () {
        $('.companyInnerImage1 img').removeClass('animated flipInY');
    });

    $('.companyInnerImage2').mouseover(function () {
        $('.companyInnerImage2 img').addClass('animated flipInY');
    });
    $('.companyInnerImage2').mouseout(function () {
        $('.companyInnerImage2 img').removeClass('animated flipInY');
    });

    $('.companyInnerImage3').mouseover(function () {
        $('.companyInnerImage3 img').addClass('animated flipInY');
    });
    $('.companyInnerImage3').mouseout(function () {
        $('.companyInnerImage3 img').removeClass('animated flipInY');
    });

    $('.companyInnerImage4').mouseover(function () {
        $('.companyInnerImage4 img').addClass('animated flipInY');
    });
    $('.companyInnerImage4').mouseout(function () {
        $('.companyInnerImage4 img').removeClass('animated flipInY');
    });

    $('.companyInnerImage5').mouseover(function () {
        $('.companyInnerImage5 img').addClass('animated flipInY');
    });
    $('.companyInnerImage5').mouseout(function () {
        $('.companyInnerImage5 img').removeClass('animated flipInY');
    });

    $('.companyInnerImage6').mouseover(function () {
        $('.companyInnerImage6 img').addClass('animated flipInY');
    });
    $('.companyInnerImage6').mouseout(function () {
        $('.companyInnerImage6 img').removeClass('animated flipInY');
    });

    $('.companyInnerImage7').mouseover(function () {
        $('.companyInnerImage7 img').addClass('animated flipInY');
    });
    $('.companyInnerImage7').mouseout(function () {
        $('.companyInnerImage7 img').removeClass('animated flipInY');
    });

    $('.companyInnerImage8').mouseover(function () {
        $('.companyInnerImage8 img').addClass('animated flipInY');
    });
    $('.companyInnerImage8').mouseout(function () {
        $('.companyInnerImage8 img').removeClass('animated flipInY');
    });

    $('.companyInnerImage9').mouseover(function () {
        $('.companyInnerImage9 img').addClass('animated flipInY');
    });
    $('.companyInnerImage9').mouseout(function () {
        $('.companyInnerImage9 img').removeClass('animated flipInY');
    });

    $('.companyInnerImage10').mouseover(function () {
        $('.companyInnerImage10 img').addClass('animated flipInY');
    });
    $('.companyInnerImage10').mouseout(function () {
        $('.companyInnerImage10 img').removeClass('animated flipInY');
    });

    $('.companyInnerImage11').mouseover(function () {
        $('.companyInnerImage11 img').addClass('animated flipInY');
    });
    $('.companyInnerImage11').mouseout(function () {
        $('.companyInnerImage11 img').removeClass('animated flipInY');
    });

    $('.companyInnerImage12').mouseover(function () {
        $('.companyInnerImage12 img').addClass('animated flipInY');
    });
    $('.companyInnerImage12').mouseout(function () {
        $('.companyInnerImage12 img').removeClass('animated flipInY');
    });

    $('.companyInnerImage13').mouseover(function () {
        $('.companyInnerImage13 img').addClass('animated flipInY');
    });
    $('.companyInnerImage13').mouseout(function () {
        $('.companyInnerImage13 img').removeClass('animated flipInY');
    });

</script>

<script>
    var map;
    function initMap() {
        // The location of Uluru
        var Dhaka = { lat: 23.810331, lng: 90.412521 };
        var Talwan = { lat: 25.038410, lng: 121.563700 };
        var India = { lat: 20.593683, lng: 78.962883 };
        var Karachi = { lat: 24.860735, lng: 67.001137 };
        var Sweden = { lat: 60.128162, lng: 18.643501 };

        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 5,
            center: Dhaka
        });

        var markerDhaka = new google.maps.Marker({
            position: Dhaka,
            map: map
        });
        var markerTalwan = new google.maps.Marker({
            position: Talwan,
            map: map
        });
        var markerIndia = new google.maps.Marker({
            position: India,
            map: map
        });
        var markerKarachi = new google.maps.Marker({
            position: Karachi,
            map: map
        });
        var contentStringDhaka = '<div id="content" style="height:110px; width:200px;">' +
            '<div id="siteNotice">' +
            '</div>' +
            '<div id="bodyContent">' +
            '<h4>Address:</h4>' +
            '<p>Abcdefghijklmn 00, Abcde ABC</p>' +
            '<p>123 34 Dhaka</p>' +
            '<p>Bangladesh</p>' +
            '</div>' +
            '</div>';

        var infowindowDhaka = new google.maps.InfoWindow({
            content: contentStringDhaka
        });

        markerDhaka.addListener('click', function () {
            infowindowDhaka.open(map, markerDhaka);
        });

        var contentStringTalwan = '<div id="content" style="height:110px; width:200px;">' +
            '<div id="siteNotice">' +
            '</div>' +
            '<div id="bodyContent">' +
            '<h4>Address:</h4>' +
            '<p>Abcdefghijklmn 00, Abcde ABC</p>' +
            '<p>123 34 Talwan</p>' +
            '<p>Talwan</p>' +
            '</div>' +
            '</div>';

        var infowindowTalwan = new google.maps.InfoWindow({
            content: contentStringTalwan
        });

        markerTalwan.addListener('click', function () {
            infowindowTalwan.open(map, markerTalwan);
        });

        var contentStringIndia = '<div id="content" style="height:110px; width:200px;">' +
            '<div id="siteNotice">' +
            '</div>' +
            '<div id="bodyContent">' +
            '<h4>Address:</h4>' +
            '<p>Abcdefghijklmn 00, Abcde ABC</p>' +
            '<p>123 34 Mumbai</p>' +
            '<p>India</p>' +
            '</div>' +
            '</div>';

        var infowindowIndia = new google.maps.InfoWindow({
            content: contentStringIndia
        });

        markerIndia.addListener('click', function () {
            infowindowIndia.open(map, markerIndia);
        });

        var contentStringKarachi = '<div id="content" style="height:110px; width:200px;">' +
            '<div id="siteNotice">' +
            '</div>' +
            '<div id="bodyContent">' +
            '<h4>Address:</h4>' +
            '<p>Abcdefghijklmn 00, Abcde ABC</p>' +
            '<p>123 34 Karachi</p>' +
            '<p>Pakistan</p>' +
            '</div>' +
            '</div>';

        var infowindowKarachi = new google.maps.InfoWindow({
            content: contentStringKarachi
        });

        markerKarachi.addListener('click', function () {
            infowindowKarachi.open(map, markerKarachi);
        });
    }
</script>

<script async defer src="https://maps.googleapis.com/maps/api/js?key=&callback=initMap" type="text/javascript"></script>
