@model IEnumerable<Software_Company_WebApplication.Models.EmployeeInformation>

@{
    ViewBag.Title = "Index";
}

<h1 style="font-family:Impact" class="text-center">Employee Personal Information</h1>
<hr style="border: 2px solid; color: lightgray; width: 200px">

@foreach (var item in Model)
{
    <div class="row">
        <div class="col-sm-12 col-xs-12">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="form-group has-success">
                        <label>@Html.DisplayNameFor(model => model.EmployeeImage)</label>
                        @{
                            var imgSrc = "";
                            if (item.EmployeeImage != null)
                            {
                                var base64 = Convert.ToBase64String(item.EmployeeImage);
                                imgSrc = String.Format("data:image/gif;base64,{0}", base64);
                                <img class="img-responsive" src="@imgSrc" alt="This employee image" style="border-radius:7px; height:220px;" />
                            }
                            else
                            {
                                <img class="img-responsive" src="~/Image/default_man_photo.jpg" alt="This employee did not upload an image" style="border-radius:7px; height:220px;" />
                            }
                        }
                    </div>
                </div>
                <br />
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 col-lg-offset-2 col-md-offset-2">
                    <div id="accordion_pic" class="panel-group">
                        <div class="panel panel-success">
                            <div class="panel-heading">
                                <div class="panel-title">
                                    <a href="#panelBodyOne1" data-toggle="collapse" data-parent="#accordion_pic">
                                        <b>Do You Want To Change Your Password...?</b>
                                        <span class="glyphicon glyphicon-lock pull-right"></span>
                                    </a>
                                </div>
                            </div>
                            <div id="panelBodyOne1" class="collapse in panel-collapse">
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="form-group has-success">
                                                <label>Current password</label>
                                                <input id="Current_password" class="form-control" type="password" placeholder="Enter your current password" />
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group has-success">
                                                <label>New Password</label>
                                                <input id="New_password" class="form-control" type="password" placeholder="Enter your new password" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="form-group has-success">
                                                <label>Confirm new password</label>
                                                <input id="Confirm_new_password" class="form-control" type="password" placeholder="Confirm new password" />
                                            </div>
                                        </div>
                                        <br />
                                        <div class="col-lg-6">
                                            <button id="btnChangePassword" style="margin-top:4px" class="btn btn-success btn-block">Change Password</button>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <!--Bootstrap alert to display any validation errors-->
                                            <div id="divErrorPassword" class="alert alert-danger collapse">
                                                <a id="linkClosePassword" href="#" class="close">&times;</a>
                                                <div id="divErrorTextPassword"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="form-group has-success">
                        <label>@Html.DisplayNameFor(model => model.UserName)</label>
                        <input readonly id="Text1" class="form-control" type="text" value="@Html.DisplayFor(modelItem => item.UserName)" />
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="form-group has-success">
                        <label>@Html.DisplayNameFor(model => model.Email)</label>
                        <input readonly id="Text2" class="form-control" type="text" value="@Html.DisplayFor(modelItem => item.Email)" />
                    </div>
                </div>
            </div>
            <br />
            <div class="well">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="form-group has-success">
                            <label>@Html.DisplayNameFor(model => model.PhoneNumber)</label>
                            <input readonly id="Text1" class="form-control" type="text" value="@Html.DisplayFor(modelItem => item.PhoneNumber)" />
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <div class="form-group has-success">
                                <label>@Html.DisplayNameFor(model => model.Gender)</label>
                                <input readonly id="Text2" class="form-control" type="text" value="@Html.DisplayFor(modelItem => item.Gender)" placeholder="Enter your Gender" />
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <div class="form-group has-success">
                                <label>@Html.DisplayNameFor(model => model.BloodGroup)</label>
                                <input readonly id="Text2" class="form-control" type="text" value="@Html.DisplayFor(modelItem => item.BloodGroup)" placeholder="Enter your BloodGroup" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="form-group has-success">
                                <label>@Html.DisplayNameFor(model => model.DateOfBirth)</label>
                                <input readonly id="Text2" class="form-control" type="text" value="@Html.DisplayFor(modelItem => item.DateOfBirth)" placeholder="Enter your DateOfBirth" />
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="form-group has-success">
                                <label>@Html.DisplayNameFor(model => model.MaritalStatus)</label>
                                <input readonly id="Text2" class="form-control" type="text" value="@Html.DisplayFor(modelItem => item.MaritalStatus)" placeholder="Enter your MaritalStatus" />
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="form-group has-success">
                            <label>@Html.DisplayNameFor(model => model.FullName)</label>
                            <input readonly id="Text2" class="form-control" type="text" value="@Html.DisplayFor(modelItem => item.FullName)" placeholder="Enter your FullName" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="form-group has-success">
                        <label>@Html.DisplayNameFor(model => model.Address)</label>
                        <textarea rows="2" readonly id="Text1" class="form-control" type="text" placeholder="Enter your Address"> @Html.DisplayFor(modelItem => item.Address) </textarea>
                    </div>
                </div>
            </div>
            <br />
            <div class="well">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="form-group has-success">
                                <label>@Html.DisplayNameFor(model => model.Nationality)</label>
                                <input readonly id="Text2" class="form-control" type="text" value="@Html.DisplayFor(modelItem => item.Nationality)" placeholder="Enter your Nationality" />
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="form-group has-success">
                                <label>@Html.DisplayNameFor(model => model.Religion)</label>
                                <input readonly id="Text2" class="form-control" type="text" value="@Html.DisplayFor(modelItem => item.Religion)" placeholder="Enter your Religion" />
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="form-group has-success">
                            <label>@Html.DisplayNameFor(model => model.AlternativeEmail)</label>
                            <input readonly id="Text1" class="form-control" type="text" value="@Html.DisplayFor(modelItem => item.AlternativeEmail)" placeholder="Enter your AlternativeEmail" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="form-group has-success">
                            <label>@Html.DisplayNameFor(model => model.Designation)</label>
                            <input readonly id="Text1" class="form-control" type="text" value="@Html.DisplayFor(modelItem => item.Designation)" placeholder="Enter your Designation" />
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="form-group has-success">
                                <label>@Html.DisplayNameFor(model => model.District)</label>
                                <input readonly id="Text2" class="form-control" type="text" value="@Html.DisplayFor(modelItem => item.District)" placeholder="Enter your District" />
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="form-group has-success">
                                <label>@Html.DisplayNameFor(model => model.ZipCode)</label>
                                <input readonly id="Text2" class="form-control" type="text" value="@Html.DisplayFor(modelItem => item.ZipCode)" placeholder="Enter your ZipCode" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="form-group has-success">
                                <label>@Html.DisplayNameFor(model => model.Country)</label>
                                <input readonly id="Text2" class="form-control" type="text" value="@Html.DisplayFor(modelItem => item.Country)" placeholder="Enter your Country" />
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="form-group has-success">
                                <label>@Html.DisplayNameFor(model => model.PostOffice)</label>
                                <input readonly id="Text2" class="form-control" type="text" value="@Html.DisplayFor(modelItem => item.PostOffice)" placeholder="Enter your PostOffice" />
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="form-group has-success">
                            <label>@Html.DisplayNameFor(model => model.PassportNo)</label>
                            <input readonly id="Text2" class="form-control" type="text" value="@Html.DisplayFor(modelItem => item.PassportNo)" placeholder="Enter your PostOffice" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="form-group has-success">
                        <label>@Html.DisplayNameFor(model => model.AboutYou)</label>
                        <textarea rows="3" readonly id="Text1" class="form-control" type="text" placeholder="Enter About You"> @Html.DisplayFor(modelItem => item.AboutYou) </textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br />
    <button class="btn btn-default" type="button" onclick="location.href='@Url.Action("Edit", "EmployeeInformation", new { id = item.Id })'"><span class="glyphicon glyphicon-pencil" style="padding-right:7px"></span> Edit</button>
}

@using Microsoft.AspNet.Identity;

<script>
    $(document).ready(function () {
        //Close the bootstrap alert
        $('#linkClosePassword').click(function () {
            $('#divErrorPassword').hide('fade');
        });

        // Save the new user details
        $('#btnChangePassword').click(function () {
            $.ajax({
                url: '/api/Account/ChangePassword',
                method: 'POST',
                data: {
                    oldPassword: $('#Current_password').val(),
                    newPassword: $('#New_password').val(),
                    confirmPassword: $('#Confirm_new_password').val(),
                    userId: '@User.Identity.GetUserId()',
                },
                success: function () {
                    alert('Password Change Successful!');

                    // refresh the page...
                    document.location.reload(true);
                    //swal("Password Change Successful!", "Thank You. Now You Can Login With Your New Password.", "success");
                    $('#divErrorPassword').hide();
                },
                error: function (jqXHR) {
                    $('#divErrorTextPassword').text(jqXHR.responseText);
                    $('#divErrorPassword').show('fade');
                }
            });

        });
    });
</script>
