@model DIU_CPC_BlueDivision.Models.Blue_Prob_ProbStu_Stu
@using DIU_CPC_BlueDivision.Models;
@using System.Text;
@using Microsoft.AspNet.Identity;
@using DIU_CPC_BlueDivision.DifferentLayout_Database;
@using DIU_CPC_BlueDivision.DatabaseConnection;

@{
    ViewBag.Title = "Index";
}

<style>
    /*table.fixed {
        table-layout: fixed;
        width:2000px;
    }*/

    table.fixed td {
        overflow: hidden;
    }

        table.fixed td:nth-of-type(2) {
            min-width: 300px;
        }
</style>

<h2>Index</h2>
<br />

@{
    string userId = "", secureCode = "", joinSem = "", userName = "";
    userId = User.Identity.GetUserId();

    if (!string.IsNullOrEmpty(userId))
    {
        AspNetUsersBusinessLayer aspNetUsersBusinessLayer = new AspNetUsersBusinessLayer();
        //secureCode = aspNetUsersBusinessLayer.GetSecureCode(userId);
        //joinSem = aspNetUsersBusinessLayer.GetJoinSemester(userId);
        userName = aspNetUsersBusinessLayer.GetUserName(userId);
    }
}

<div class="row">
    <div class="col-xs-12 col-sm-6">
        <h4>Select Number of Rows</h4>
        <div class="form-group">
            <select name="state" id="maxRows" class="form-control" style="width:150px;">
                <option value="50000">Show All</option>
                <option value="5">5</option>
                <option value="10">10</option>
                <option value="20">20</option>
                <option value="50">50</option>
                <option value="75">75</option>
                <option value="100">100</option>
            </select>
        </div>
    </div>
</div>
<br />

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div style="overflow-x:auto;">
            <table class="table table-hover table-bordered table-responsive table-striped fixed" style="font-size:16px;" id="mytable">
                <tr class="success text-center" style="font-weight: bold">
                    <td>Problem Name</td>
                    @foreach (Student stu in Model.students.OrderByDescending(per => per.SolveCount).ToList())
                    {
                        if (stu.Semester == ViewBag.semester)
                        {
                            <td>
                                @stu.UserName<br />
                                <span style="color:red; font-size:18px"><b>@stu.SolveCount</b></span>
                            </td>
                        }
                    }
                </tr>
                @foreach (Problem prob in Model.problems)
                {
                    if (prob.BlueSheet.BlueSheetName == ViewBag.semester)
                    {
                        <tr>
                            <td>
                                <a target="_blank" href="@prob.ProblemLink">@prob.ProblemName</a>
                                <span style="padding-right:10px"></span>
                                @{
                                    if (!string.IsNullOrEmpty(prob.Comment))
                                    {
                                        <button style="border:none; padding:0; outline:none" class="btn btn-sm btn-default btnPopover" title="Comment" data-content="@prob.Comment"
                                                data-trigger="focus" data-toggle="popover">
                                            <span class="glyphicon glyphicon-info-sign"></span>
                                        </button>
                                    }
                                }
                            </td>

                            @foreach (Student stu in Model.students.OrderByDescending(per => per.SolveCount).ToList())
                            {
                                int check = 0;
                                if (stu.Semester == ViewBag.semester)
                                {
                                    foreach (ProblemsStudent probStu in Model.problemsStudents)
                                    {
                                        if (probStu.ProblemId == prob.Id && probStu.StudentId == stu.Id && probStu.IsSolved == "Accepted")
                                        {
                                            check = 1;
                                            <td class="text-center">
                                                <span>AC (<img height="15" src="~/Image/Accepted.png" />)</span>

                                                @{
                                                    if (!string.IsNullOrEmpty(probStu.Comment))
                                                    {
                                                        <button style="border:none; padding:0; outline:none" class="btn btn-sm btn-default btnPopover" title="Comment" data-content="@probStu.Comment"
                                                                data-trigger="focus" data-toggle="popover">
                                                            <span class="glyphicon glyphicon-info-sign"></span>
                                                        </button>
                                                    }
                                                }
                                                <br />
                                                @if (probStu.SolutionLink != null)
                                                {
                                                    if (probStu.ShareSolutionLink == "Yes")
                                                    {
                                                        <a target="_blank" href="@probStu.SolutionLink">Solution</a>
                                                    }
                                                    else if (userName == probStu.Student.UserName)
                                                    {
                                                        <a target="_blank" href="@probStu.SolutionLink">Solution(<span style="color:red">P</span>)</a>
                                                    }
                                                    else if (probStu.ShareSolutionLink == "No")
                                                    {
                                                        <span style="color:red">Private(Sol)</span>
                                                    }
                                                }
                                            </td>
                                        }
                                    }
                                    if (check == 0)
                                    {
                                        <td></td>
                                    }
                                }

                            }
                        </tr>
                    }

                }
            </table>
        </div>
    </div>
</div>
<br />
<div class="pagination-container" align="center">
    <nav>
        <ul class="pagination"></ul>
    </nav>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('.btnPopover').popover();
    });
</script>

<script type="text/javascript">
    var table = '#mytable'
    $('#maxRows').on('change', function () {
        $('.pagination').html('');
        var trnum = 0
        var maxRows = parseInt($(this).val())
        var totalRows = $(table + ' tbody tr').length

        // hide column 5 select korle 5 ta row show korbe
        $(table + ' tr:gt(0)').each(function () {
            trnum++
            if (trnum > maxRows) {
                $(this).hide()
            }
            if (trnum <= maxRows) {
                $(this).show()
            }
        })

        // show pagination
        if (totalRows > maxRows) {
            var pagenum = Math.ceil(totalRows / maxRows);
            //$('.pagination').append('<li><a href="#">&laquo;</a></li>').show();
            for (var i = 1; i <= pagenum;) {
                $('.pagination').append('<li data-page="' + i + '">\<span>' + i++ + '<span class="sr-only">(current)</span></span>\</li>').show()
            }
            //$('.pagination').append('<li><a href="#">&raquo;</a></li>').show();
        }
        // first value ta active rakhe always
        $('.pagination li:first-child').addClass('active')

        // page a click korar pore column kore show kore
        $('.pagination li').on('click', function () {
            var pageNum = $(this).attr('data-page')
            var trIndex = 0;
            $('.pagination li').removeClass('active')
            $(this).addClass('active');
            $(table + ' tr:gt(0)').each(function () {
                trIndex++;
                if (trIndex > (maxRows * pageNum) || trIndex <= ((maxRows * pageNum) - maxRows)) {
                    $(this).hide();
                } else {
                    $(this).show();
                }
            })
        })
    })
    // get serial no
    $(function () {
        $('table tr:eq(0)').prepend('<td class="text-center">No</td>')
        var id = 0;
        $('table tr:gt(0)').each(function () {
            id++
            $(this).prepend('<td style="font-size:19px"  class="text-center">' + id + '</td>')
        })
    })
</script>


@*joss akta jinish.. just run kore dekho..*@
@*<div>
        @{
            WebGrid obj = new WebGrid(source: Model.blueSheets, canPage: true, rowsPerPage: 10);
        }
        @obj.GetHtml()
    </div>
    <br /><br />
    <div>
        @{
            WebGrid obj1 = new WebGrid(source: Model.problems, canPage: true, rowsPerPage: 10);
        }
        @obj1.GetHtml()
    </div>
    <br /><br />
    <div>
        @{
            WebGrid obj2 = new WebGrid(source: Model.problemsStudents, canPage: true, rowsPerPage: 10);
        }
        @obj2.GetHtml()
    </div>
    <br /><br />
    <div>
        @{
            WebGrid obj3 = new WebGrid(source: Model.students, canPage: true, rowsPerPage: 10);
        }
        @obj3.GetHtml()
    </div>*@