@model Software_Company_WebApplication.Models.OurTeam

@{

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")

    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    <link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
    <script src="~/jquery_Bootstrap_SweetAlert_IHover/SweetAlert/sweetalert.min.js"></script>

    @using (Html.BeginForm("Create", "OurTeams", FormMethod.Post, new { encType = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>Blog_tbl</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-6">
                    @Html.TextAreaFor(model => model.Name, new { @rows = 1, @class = "form-control", @placeholder = "Enter Employee Name", @required = true })
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.EmployeeImage, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-3">
                    <input type="file" id="image1" name="image1" class="form-control" />
                    @Html.ValidationMessageFor(model => model.EmployeeImage, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Designation, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-3">
                    @Html.DropDownList("Designation", new List<SelectListItem>
                                {
                                    new SelectListItem{Text="CEO", Value="CEO"},
                                    new SelectListItem{Text="IOS Developer", Value="IOS Developer"},
                                    new SelectListItem{Text="Android Devepoder", Value="Android Devepoder"},
                                    new SelectListItem{Text="Web Devepoder", Value="Web Devepoder"},
                                    new SelectListItem{Text="Graphics designer", Value="Graphics designer"},
                                    new SelectListItem{Text="Accounts Manager", Value="Accounts Manager"},
                                    new SelectListItem{Text="Software Engineer", Value="Software Engineer"}
                                }, "Select Designation", new { @class = "form-control", @required = true })
                    @Html.ValidationMessageFor(model => model.Designation, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.WorkingSince, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-3">
                    @Html.EditorFor(model => model.WorkingSince, new { htmlAttributes = new { @class = "form-control datepicker", @autocomplete = "off", @placeholder = "Enter Employee WorkingSince", @required = true } })
                    @Html.ValidationMessageFor(model => model.WorkingSince, "", new { @class = "text-danger" })
                </div>
            </div>


            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input id="submitId" type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </div>
    }

    <div>
        @*@Html.ActionLink("Back to List", "Index")*@
        <a class="btn btn-default" href="@Url.Action("Index", "OurTeams")">Back to List</a>
    </div>

</body>
</html>

<script>
    $(function () {
        $('.datepicker').datepicker({
            dateFormat: "dd-mm-yy",
            changeMonth: true,
            changeYear: true,
            yearRange: "1950:2010"
        });
    });
</script>

<script type="text/javascript">
    $('#submitId').click(function () {
        var extension = $('#image1').val().split('.').pop().toLowerCase();
        if ($('#image1').val() == '') {
            return true;
        }
        else if ($.inArray(extension, ['gif', 'png', 'jpg', 'jpeg', 'bmp']) == -1) {
            //alert('Sorry, You can only upload an image.');
            swal("Sorry!", "You can only upload an image!", "error");
            return false;
        }
    });
</script>
