@model IEnumerable<WorkingWithZipFiles.Models.ZipFileStorAndDownload_tbl>

@{
    ViewBag.Title = "Index";
}

<br /><br /><br /><br /><br />

@*<p>
        @Html.ActionLink("Create New", "Create")
    </p>*@

<div class="col-lg-10 col-lg-offset-1">
    <div class="row">
        <div class="col-xs-12 col-sm-6">
            <div class="form-group">
                <select name="state" id="maxRows" class="form-control" style="width:150px;">
                    <option value="5000">Show All</option>
                    <option value="3">3</option>
                    <option value="5">5</option>
                    <option value="10">10</option>
                    <option value="15">15</option>
                    <option value="20">20</option>
                    <option value="50">50</option>
                </select>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6">
            @using (Html.BeginForm("Index", "WorkingWithZip", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <input style="display:inline; width:250px" type="file" name="zip" required class="form-control" />
                <button style="display:inline; margin-bottom:5px" class="btn btn-default">Submit</button>
            }
        </div>
    </div>
    <br />
    <div style="overflow-x:auto;">
        <table class="table table-hover text-center fixed" id="mytable">
            <tr class="success" style="font-weight: bold; font-size:16px">
                <td>
                    @Html.DisplayNameFor(model => model.Date)
                </td>
                @*<td>
                    @Html.DisplayNameFor(model => model.ZipFile)
                </td>*@
                <td>
                    @Html.DisplayNameFor(model => model.ZipFileName)
                </td>
                <td>Action</td>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Date)
                    </td>
                    @*<td>
                            @Html.DisplayFor(modelItem => item.ZipFile)
                        </td>*@
                    <td>
                        @Html.DisplayFor(modelItem => item.ZipFileName)
                    </td>
                    <td>
                        @using (Html.BeginForm("DownloadFile", "WorkingWithZip", new { id = item.Id }))
                        {
                            <button class="btn btn-success btn-xs sumbmitDelete" type="submit" onclick="return confirm('are you sure you want to Download ID = @item.Id?')"> <span class="glyphicon glyphicon-download-alt"> </span> Download</button>
                        }

                        @using (Html.BeginForm("Delete", "WorkingWithZip", new { id = item.Id }))
                        {
                            <button class="btn btn-danger btn-xs sumbmitDelete" type="submit" onclick="return confirm('are you sure you want to delete ID = @item.Id?')"> <span class="glyphicon glyphicon-trash"> </span> Delete</button>
                        }
                    </td>
                </tr>
            }

        </table>
    </div>
    <br />
    <div class="pagination-container" align="center">
        <nav>
            <ul class="pagination"></ul>
        </nav>
    </div>
</div>
@*@Html.ActionLink("Edit", "Edit", new { id = item.Id }) |*@
@*@Html.ActionLink("Details", "Details", new { id = item.Id }) |*@
@*@Html.ActionLink("Delete", "Delete", new { id = item.Id })*@


<script type="text/javascript">
    var table = '#mytable'
    $('#maxRows').on('change', function () {
        $('.pagination').html('');
        var trnum = 0
        var maxRows = parseInt($(this).val())
        var totalRows = $(table + ' tbody tr').length

        // hide column 5 select korle 5 ta row show korbe
        $(table + ' tr:gt(0)').each(function () {
            trnum++
            if (trnum > maxRows) {
                $(this).hide()
            }
            if (trnum <= maxRows) {
                $(this).show()
            }
        })

        // show pagination
        if (totalRows > maxRows) {
            var pagenum = Math.ceil(totalRows / maxRows);
            //$('.pagination').append('<li><a href="#">&laquo;</a></li>').show();
            for (var i = 1; i <= pagenum;) {
                $('.pagination').append('<li data-page="' + i + '">\<span>' + i++ + '<span class="sr-only">(current)</span></span>\</li>').show()
            }
            //$('.pagination').append('<li><a href="#">&raquo;</a></li>').show();
        }
        // first value ta active rakhe always
        $('.pagination li:first-child').addClass('active')

        // page a click korar pore column kore show kore
        $('.pagination li').on('click', function () {
            var pageNum = $(this).attr('data-page')
            var trIndex = 0;
            $('.pagination li').removeClass('active')
            $(this).addClass('active');
            $(table + ' tr:gt(0)').each(function () {
                trIndex++;
                if (trIndex > (maxRows * pageNum) || trIndex <= ((maxRows * pageNum) - maxRows)) {
                    $(this).hide();
                } else {
                    $(this).show();
                }
            })
        })
    })
    // get serial no
    $(function () {
        $('table tr:eq(0)').prepend('<td class="text-center">No</td>')
        var id = 0;
        $('table tr:gt(0)').each(function () {
            id++
            $(this).prepend('<td style="font-size:19px">' + id + '</td>')
        })
    })
</script>
