@model Software_Company_WebApplication.DatabaseConnection.PersonMessage

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div class="container">
    <div class="row">
        <h4>PersonMessage</h4>
        <hr />
    </div>

    <dl class="dl-horizontal">
        <dt>
            <label style="font-size:18px; color:royalblue">@Html.DisplayNameFor(model => model.Name): </label>
</dt>

        <dd>
            <label style="font-size:18px">@Html.DisplayFor(model => model.Name) </label>
        </dd>

        <dt>
            <label style="font-size:18px; color:royalblue">@Html.DisplayNameFor(model => model.PhoneNumber): </label>
        </dt>

        <dd>
            <label style="font-size:18px">@Html.DisplayFor(model => model.PhoneNumber) </label>
        </dd>

        <dt>
            <label style="font-size:18px; color:royalblue">@Html.DisplayNameFor(model => model.Email): </label>
        </dt>

        <dd>
            <label style="font-size:18px">@Html.DisplayFor(model => model.Email) </label>
        </dd>

        <dt>
            <label style="font-size:18px; color:royalblue">@Html.DisplayNameFor(model => model.Date): </label>
        </dt>

        <dd>
            <label style="font-size:18px; color:red">@Html.DisplayFor(model => model.Date) </label>
        </dd>
        <dt>
            <label style="font-size:18px; color:royalblue">@Html.DisplayNameFor(model => model.Address): </label>
        </dt>
        <dd>
            <label style="font-size:18px">@Html.DisplayFor(model => model.Address) </label>
        </dd>

        <dt>
            <label style="font-size:18px; color:royalblue">@Html.DisplayNameFor(model => model.Message): </label>
        </dt>

        <dd>
            <label style="font-size:18px">@Html.DisplayFor(model => model.Message) </label>
</dd>

    </dl>

    @*<div class="row" style="font-size:18px">
        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12 col-sm-offset-1">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="form-group has-success">
                        <label>@Html.DisplayNameFor(model => model.Name)</label>
                        <div class="input-group">
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-user"></span>
                            </span>
                            <textarea readonly rows="1" class="form-control" style="font-size:16px"> @Html.DisplayFor(model => model.Name)</textarea>

                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="form-group has-success">
                        <label>Phone Number</label>
                        <div class="input-group">
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-phone-alt"></span>
                            </span>
                            <textarea readonly rows="1" class="form-control" style="font-size:16px">@Html.DisplayFor(model => model.PhoneNumber)</textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="form-group has-success">
                        <label>Email ID</label>
                        <div class="input-group">
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-envelope"></span>
                            </span>
                            <textarea readonly rows="1" class="form-control" style="font-size:16px">@Html.DisplayFor(model => model.Email)</textarea>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="form-group has-success">
                        <label>Date</label>
                        <div class="input-group">
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                            <textarea readonly rows="1" class="form-control" style="font-size:16px">@Html.DisplayFor(model => model.Date)</textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="form-group has-success">
                        <label>Address</label>
                        <div class="input-group">
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-home"></span>
                            </span>
                            <textarea readonly rows="1" class="form-control" style="font-size:16px">@Html.DisplayFor(model => model.Address)</textarea>
                        </div>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="form-group has-success">
                        <label>Message </label>
                        <textarea readonly rows="5" class="form-control" style="font-size:16px">@Html.DisplayFor(model => model.Message)</textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>*@

</div>
<p>
    @*@Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |*@
    @*@Html.ActionLink("Back to List", "Index")*@
    <a class="btn btn-default" href="@Url.Action("Index", "Person")">Back to List</a>
</p>
