@model IEnumerable<Software_Company_WebApplication.DatabaseConnection.PersonMessage>

@{
    ViewBag.Title = "Index";
}

@*<h2>Index</h2>*@

@*<p>
        @Html.ActionLink("Create New", "Create")
    </p>*@
<style>
    table.fixed {
        table-layout: fixed;
        width: 1140px;
    }

    table.fixed td {
        overflow: hidden;
    }
    /*Setting the width of column 7.*/
    table.fixed td:nth-of-type(7) {
        width: 200px;
    }

    table.fixed td:nth-of-type(1) {
        width: 50px;
    }

    table.fixed td:nth-of-type(6) {
        width: 120px;
    }

    table.fixed td:nth-of-type(8) {
        width: 150px;
    }

</style>
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h4>Select Number of Rows</h4>
            <div class="form-group">
                <select name="state" id="maxRows" class="form-control" style="width:150px;">
                    <option value="5000">Show All</option>
                    <option value="5">5</option>
                    <option value="10">10</option>
                    <option value="15">15</option>
                    <option value="20">20</option>
                    <option value="50">50</option>
                    <option value="75">75</option>
                    <option value="100">100</option>
                </select>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <table id="mytable" class="table table-bordered table-hover table-striped text-center fixed">
                <thead>
                    <tr class="success text-center" style="font-weight: bold; font-size:18px">
                        <td>
                            @Html.DisplayNameFor(model => model.Name)
                        </td>
                        <td>
                            @Html.DisplayNameFor(model => model.PhoneNumber)
                        </td>
                        <td>
                            @Html.DisplayNameFor(model => model.Email)
                        </td>
                        <td>
                            @Html.DisplayNameFor(model => model.Address)
                        </td>
                        <td>
                            @Html.DisplayNameFor(model => model.Date)
                        </td>
                        <td>
                            @Html.DisplayNameFor(model => model.Message)
                        </td>
                        <td>Action</td>
                    </tr>
                </thead>

                @foreach (var item in Model)
                {
                    using (Html.BeginForm("Delete", "Person", new { id = item.Id }))
                    {
                        <tbody>
                            <tr >
                                <td>
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Email)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Address)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Date)
                                </td>
                                <td style="font-size:17px">
                                    @Html.DisplayFor(modelItem => item.Message)
                                </td>
                                <td>
                                    <button class="btn btn-primary btn-xs" type="button" onclick="location.href='@Url.Action("Details", "Person", new { id = item.Id })'"><span class="glyphicon glyphicon-list-alt"></span> Details</button>
                                    <button class="btn btn-danger btn-xs" type="submit" onclick="return confirm('are you sure you want to delete ID = @item.Id?')"> <span class="glyphicon glyphicon-trash"> </span> Delete</button>
                                    @*@Html.ActionLink("Edit", "Edit", new { id = item.Id }) |*@
                                    @*@Html.ActionLink("Details", "Details", new { id = item.Id }) |*@
                                    @*@Html.ActionLink("Delete", "Delete", new { id = item.Id })*@
                                </td>
                            </tr>
                        </tbody>
                    }
                }

            </table>
            <br />
            <div class="pagination-container" align="center">
                <nav>
                    <ul class="pagination"></ul>
                </nav>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var table = '#mytable'
    $('#maxRows').on('change', function () {
        $('.pagination').html('')
        var trnum = 0
        var maxRows = parseInt($(this).val())
        var totalRows = $(table + ' tbody tr').length
        $(table + ' tr:gt(0)').each(function () {
            trnum++
            if (trnum > maxRows) {
                $(this).hide()
            }
            if (trnum <= maxRows) {
                $(this).show()
            }
        })
        if (totalRows > maxRows) {
            var pagenum = Math.ceil(totalRows / maxRows)
            for (var i = 1; i <= pagenum;) {
                $('.pagination').append('<li data-page="' + i + '">\<span>' + i++ + '<span class="sr-only">(current)</span></span>\</li>').show()
            }
        }
        $('.pagination li:first-child').addClass('active')
        $('.pagination li').on('click', function () {
            var pageNum = $(this).attr('data-page')
            var trIndex = 0;
            $('.pagination li').removeClass('active')
            $(this).addClass('active')
            $(table + ' tr:gt(0)').each(function () {
                trIndex++
                if (trIndex > (maxRows * pageNum) || trIndex <= ((maxRows * pageNum) - maxRows)) {
                    $(this).hide()
                } else {
                    $(this).show()
                }
            })
        })
    })
    // get serial no
    $(function () {
        $('table tr:eq(0)').prepend('<td class="text-center">No</td>')
        var id = 0;
        $('table tr:gt(0)').each(function () {
            id++
            $(this).prepend('<td style="font-size:19px">' + id + '</td>')
        })
    })
</script>
