@model IEnumerable<Software_Company_WebApplication.Models.JobCVPdf_tbl>

@{
    ViewBag.Title = "Index";
}

<style>

    table.fixed {
        table-layout: fixed;
        width: 1140px;
    }

        table.fixed td {
            overflow: hidden;
        }
            /*Setting the width of column all.*/
            table.fixed td:nth-of-type(1) {
                width: 50px;
            }

            table.fixed td:nth-of-type(2) {
                width: 415px;
            }

            table.fixed td:nth-of-type(3) {
                width: 120px;
            }

            table.fixed td:nth-of-type(4) {
                width: 300px;
            }

            table.fixed td:nth-of-type(5) {
                width: 162px;
            }

    #JobCVPdf .well {
        min-height: 20px;
        padding: 10px;
        margin-bottom: 1px;
        overflow: hidden;
    }
</style>

<div class="row">
    <div class="col-xs-6">
        <h4>Select Number of Rows</h4>
        <div class="form-group">
            <select name="state" id="maxRows" class="form-control" style="width:150px;">
                <option value="5000">Show All</option>
                <option value="5">5</option>
                <option value="10">10</option>
                <option value="15">15</option>
                <option value="20">20</option>
                <option value="50">50</option>
                <option value="75">75</option>
                <option value="100">100</option>
            </select>
        </div>
    </div>
</div>
<div style="overflow-x:auto;">
    <table class="table table-hover text-center fixed" id="mytable">
        <tr class="success" style="font-weight: bold; font-size:16px">
            <td>
                <label>File Details</label>
            </td>
            <td>
                @Html.DisplayNameFor(model => model.Date)
            </td>
            <td>
                <label>Person Details</label>
            </td>
            <td>
                Action
            </td>
        </tr>

        @foreach (var item in Model)
        {
            using (Html.BeginForm("Delete", "JobCVPdf", new { id = item.Id }))
            {
                <tr>
                    <td id="JobCVPdf">
                        <div class="well">
                            @Html.DisplayNameFor(model => model.FileName) :
                            @Html.DisplayFor(modelItem => item.FileName)
                            <br />
                            @Html.DisplayNameFor(model => model.ContentType):
                            @Html.DisplayFor(modelItem => item.ContentType)
                            <br /><br />
                        </div>
                    </td>
                    <td>
                        <b>@Html.DisplayFor(modelItem => item.Date)</b>
                    </td>
                    <td id="JobCVPdf">
                        <div class="well">
                            @Html.DisplayNameFor(model => model.Name) :
                            @Html.DisplayFor(modelItem => item.Name)
                            <br />
                            @Html.DisplayNameFor(model => model.PhoneNumber) :
                            @Html.DisplayFor(modelItem => item.PhoneNumber)
                            <br />
                            @Html.DisplayNameFor(model => model.Email) :
                            @Html.DisplayFor(modelItem => item.Email)
                        </div>
                    </td>
                    <td>
                        @*@Html.ActionLink("Details", "Details", new { id = item.Id }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.Id })*@
                        <button class="btn btn-primary btn-xs" type="button" onclick="location.href='@Url.Action("ShowCV", "JobCVPdf", new { id = item.Id })'"><span class="glyphicon glyphicon-list-alt"></span> Show CV</button>
                        <button class="btn btn-danger btn-xs" type="submit" onclick="return confirm('are you sure you want to delete ID = @item.Id?')"> <span class="glyphicon glyphicon-trash"> </span> Delete</button>
                    </td>
                </tr>
            }
        }

    </table>
</div>
<br />
<div class="pagination-container" align="center">
    <nav>
        <ul class="pagination"></ul>
    </nav>
</div>

<script type="text/javascript">
    var table = '#mytable'
    $('#maxRows').on('change', function () {
        $('.pagination').html('');
        var trnum = 0
        var maxRows = parseInt($(this).val())
        var totalRows = $(table + ' tbody tr').length

        // hide column 5 select korle 5 ta row show korbe
        $(table + ' tr:gt(0)').each(function () {
            trnum++
            if (trnum > maxRows) {
                $(this).hide()
            }
            if (trnum <= maxRows) {
                $(this).show()
            }
        })

        // show pagination
        if (totalRows > maxRows) {
            var pagenum = Math.ceil(totalRows / maxRows);
            //$('.pagination').append('<li><a href="#">&laquo;</a></li>').show();
            for (var i = 1; i <= pagenum;) {
                $('.pagination').append('<li data-page="' + i + '">\<span>' + i++ + '<span class="sr-only">(current)</span></span>\</li>').show()
            }
            //$('.pagination').append('<li><a href="#">&raquo;</a></li>').show();
        }
        // first value ta active rakhe always
        $('.pagination li:first-child').addClass('active')

        // page a click korar pore column kore show kore
        $('.pagination li').on('click', function () {
            var pageNum = $(this).attr('data-page')
            var trIndex = 0;
            $('.pagination li').removeClass('active')
            $(this).addClass('active');
            $(table + ' tr:gt(0)').each(function () {
                trIndex++;
                if (trIndex > (maxRows * pageNum) || trIndex <= ((maxRows * pageNum) - maxRows)) {
                    $(this).hide();
                } else {
                    $(this).show();
                }
            })
        })
    })
    // get serial no
    $(function () {
        $('table tr:eq(0)').prepend('<td class="text-center">No</td>')
        var id = 0;
        $('table tr:gt(0)').each(function () {
            id++
            $(this).prepend('<td style="font-size:19px">' + id + '</td>')
        })
    })
</script>
