@model IEnumerable<DIU_CPC_BlueDivision.Models.Student>
@using Microsoft.AspNet.Identity;
@using DIU_CPC_BlueDivision.DifferentLayout_Database;
@using DIU_CPC_BlueDivision.DatabaseConnection;
@using System.Configuration;

@{

    ViewBag.Title = "Index";
    string superAdmin = ConfigurationManager.AppSettings["SuperAdmin"].ToString();
    string admin = ConfigurationManager.AppSettings["Admin"].ToString();
    string student = ConfigurationManager.AppSettings["Student"].ToString();

    string str = "", UserName = "", secureCode = "";
    str = User.Identity.GetUserId();

    if (!string.IsNullOrEmpty(str))
    {
        AspNetUsersBusinessLayer aspNetUsersBusinessLayer = new AspNetUsersBusinessLayer();
        UserName = aspNetUsersBusinessLayer.GetUserName(str);
        secureCode = aspNetUsersBusinessLayer.GetSecureCode(str);
    }
    ListOfAllAdminsAndStudents listOfAllAdminsAndStudents = new ListOfAllAdminsAndStudents();
    
}

<br /><br /><br />
<p align="center" style="font-size:30px; color:orange; font-family:Impact">List Of Students</p>
<hr style="border: 4px solid; color: #F5F3F1">

@*<p>
        @Html.ActionLink("Create New", "Create")
    </p>*@
<div class="col-md-12">
    <div>
        <h4>Select Number of Rows</h4>
        <div class="form-group">
            <select name="state" id="maxRows" class="form-control" style="width:150px;">
                <option value="5000">Show All</option>
                <option value="5">5</option>
                <option value="10">10</option>
                <option value="15">15</option>
                <option value="20">20</option>
                <option value="50">50</option>
                <option value="75">75</option>
                <option value="100">100</option>
            </select>
        </div>
    </div>
    <div style="overflow-x:auto;">
        <table id="mytable" class="table table-hover text-center">
            <tr class="success text-center" style="font-weight: bold; font-size:18px">
                <td>
                    @Html.DisplayNameFor(model => model.UserName)
                    <input id="userNameStudent" type="text" class="form-control" style="height:25px" />
                </td>
                <td>
                    @Html.DisplayNameFor(model => model.StudentId)
                </td>
                @*<td>
                @Html.DisplayNameFor(model => model.FullName)
            </td>*@
                <td>
                    @Html.DisplayNameFor(model => model.EmailAddress)
                </td>
                <td>
                    @Html.DisplayNameFor(model => model.PhoneNumber)
                </td>
                <td>
                    @Html.DisplayNameFor(model => model.Semester)
                    @Html.DropDownList("SelectSemester", new List<SelectListItem>
                    {
                        new SelectListItem{Text="Fall-20", Value="Fall-20"},
                        new SelectListItem{Text="Summer-20", Value="Summer-20"},
                        new SelectListItem{Text="Spring-20", Value="Spring-20"},
                        new SelectListItem{Text="Fall-19", Value="Fall-19"},
                        new SelectListItem{Text="Summer-19", Value="Summer-19"},
                        new SelectListItem{Text="Spring-19", Value="Spring-19"}
                    }, "Select Semester", new { @class = "form-control", @id = "SelectSemesterStudent", @style= "font-size:13px; width:120px; height:25px; padding:0px" })
                </td>
                <td>
                    @Html.DisplayNameFor(model => model.SolveCount)
                </td>
                <td>
                    @Html.DisplayNameFor(model => model.CodeForcesId)
                </td>
                <td colspan="3">Action</td>
            </tr>

            @foreach (var item in Model)
            {
                string muteOrUnmute = listOfAllAdminsAndStudents.CheckMuteOrUnmute(item.Id);
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StudentId)
                </td>
                @*<td>
            @Html.DisplayFor(modelItem => item.FullName)
        </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.EmailAddress)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Semester)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SolveCount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CodeForcesId)
                </td>
                <td>
                    @using (Html.BeginForm("MuteStudent", "ListOfStudents", new { id = item.Id }))
                    {
                        if (muteOrUnmute == "Mute")
                        {
                            <button class="btn btn-warning btn-xs hidden" type="submit" onclick="return confirm('are you sure you want to Mute ID = @item.Id?')"> <span class="glyphicon glyphicon-off"> </span> Mute</button>
                        }
                        else
                        {
                            <button class="btn btn-warning btn-xs" type="submit" onclick="return confirm('are you sure you want to Mute ID = @item.Id?')"> <span class="glyphicon glyphicon-off"> </span> Mute</button>
                        }

                    }
                </td>
                <td>
                    @using (Html.BeginForm("UnmuteStudent", "ListOfStudents", new { id = item.Id }))
                    {
                        if (muteOrUnmute == "Unmute")
                        {
                            <button class="btn btn-success btn-xs hidden" type="submit" onclick="return confirm('are you sure you want to UnMute ID = @item.Id?')"> <span class="glyphicon glyphicon-ok"> </span> Unmute</button>
                        }
                        else
                        {
                            <button class="btn btn-success btn-xs" type="submit" onclick="return confirm('are you sure you want to UnMute ID = @item.Id?')"> <span class="glyphicon glyphicon-ok"> </span> Unmute</button>
                        }

                    }
                </td>
                <td>
                    @using (Html.BeginForm("DeleteStudent", "ListOfStudents", new { id = item.Id }))
                    {
                        <button class="btn btn-danger btn-xs" type="submit" onclick="return confirm('are you sure you want to Delete ID = @item.Id?')"> <span class="glyphicon glyphicon-trash"> </span> Delete</button>
                    }
                </td>
                @*<td>
            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
            @Html.ActionLink("Details", "Details", new { id = item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
        </td>*@
            </tr>

            }

        </table>
    </div>
    <br />
    <div class="pagination-container" align="center">
        <nav>
            <ul class="pagination" id="pagination"></ul>
        </nav>
    </div>
</div>

@*searching*@
<script>
    window.addEventListener("keydown", checkKeyPress, false);
    function checkKeyPress(key) {
        if (key.keyCode == "13" && $('#userNameStudent').val() != '' && $("#SelectSemesterStudent option:selected").val() != '') {
            var name = $('#userNameStudent').val().trim();
            var joinSemester = $("#SelectSemesterStudent option:selected").val();
            var userName = "%";
            for (var i = 0; i < name.length; i++) {
                userName += (name[i] + "%");
            }
            //alert(userName + ' ' + joinSemester);
            searchStudent(userName, joinSemester);
            event.preventDefault();         // aita dile page refresh nibe na Enter press korle.
        }
        else if (key.keyCode == "13" && $('#userNameStudent').val() != '') {
            var name = $('#userNameStudent').val().trim();
            var userName = "%";
            for (var i = 0; i < name.length; i++) {
                userName += (name[i] + "%");
            }
            //alert(userName);
            searchStudent(userName, null);
            event.preventDefault();         // aita dile page refresh nibe na Enter press korle.
        }
        else if (key.keyCode == "13" && $("#SelectSemesterStudent option:selected").val() != '') {
            var joinSemester = $("#SelectSemesterStudent option:selected").val();
            //alert(joinSemester);
            searchStudent(null, joinSemester);
            event.preventDefault();         // aita dile page refresh nibe na Enter press korle.
        }
    }

    function searchStudent(name, semester) {
        alert(name + ' ' + semester);
    };
</script>

<script type="text/javascript">
    $(document).ready(function () {
        var table = '#mytable'
        $('#maxRows').on('change', function () {
            $('#pagination').html('');
            var trnum = 0
            var maxRows = parseInt($(this).val())
            var totalRows = $(table + ' tbody tr').length

            // hide column 5 select korle 5 ta row show korbe
            $(table + ' tr:gt(0)').each(function () {
                trnum++
                if (trnum > maxRows) {
                    $(this).hide()
                }
                if (trnum <= maxRows) {
                    $(this).show()
                }
            })

            // show pagination
            if (totalRows > maxRows) {
                var pagenum = Math.ceil(totalRows / maxRows);
                //$('.pagination').append('<li><a href="#">&laquo;</a></li>').show();
                for (var i = 1; i <= pagenum;) {
                    $('#pagination').append('<li data-page="' + i + '">\<span>' + i++ + '<span class="sr-only">(current)</span></span>\</li>').show()
                }
                //$('.pagination').append('<li><a href="#">&raquo;</a></li>').show();
            }
            // first value ta active rakhe always
            $('#pagination li:first-child').addClass('active')

            // page a click korar pore column kore show kore
            $('#pagination li').on('click', function () {
                var pageNum = $(this).attr('data-page')
                var trIndex = 0;
                $('#pagination li').removeClass('active')
                $(this).addClass('active');
                $(table + ' tr:gt(0)').each(function () {
                    trIndex++;
                    if (trIndex > (maxRows * pageNum) || trIndex <= ((maxRows * pageNum) - maxRows)) {
                        $(this).hide();
                    } else {
                        $(this).show();
                    }
                })
            })
        })
        // get serial no
        $(function () {
            $('#mytable tr:eq(0)').prepend('<td class="text-center">No</td>')
            var id = 0;
            $('#mytable tr:gt(0)').each(function () {
                id++
                $(this).prepend('<td style="font-size:19px">' + id + '</td>')
            })
        })
    });
</script>