@model IEnumerable<PersonalCalculation.Models.Expence>
@using PersonalCalculation.DatabaseConnection;
@using PersonalCalculation.Models;

@{
    ViewBag.Title = "Index";

    int projId = Convert.ToInt32(Request.QueryString["projId"]);

    PersonalCalculationDBEntities db = new PersonalCalculationDBEntities();
    TotalMoneyCalculationForRentMan totalMoneyCalculationForRentMan = db.TotalMoneyCalculationForRentMen.FirstOrDefault(per => per.ProjectId == projId);

}

<h2>Index</h2>


<p>
    <h3 align="center">
        TotalPayable: @totalMoneyCalculationForRentMan.TotalPayable || TotalPaid: @totalMoneyCalculationForRentMan.TotalPaid
    </h3>
    <h3 align="center">
        TotalDue: @totalMoneyCalculationForRentMan.TotalDue || TotalCost: @totalMoneyCalculationForRentMan.TotalCost ||
        Profit: @totalMoneyCalculationForRentMan.Profit
    </h3>
</p>
<p>
    @Html.ActionLink("Create New", "Create", new { projId = Request.QueryString["projId"] })
</p>

<br />
<div style="overflow-x:auto;">
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Cost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Purpose)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Project.ProjectName)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Cost)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Purpose)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Project.ProjectName)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id, projId = Request.QueryString["projId"] }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id, projId = Request.QueryString["projId"] }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id, projId = Request.QueryString["projId"] })
                </td>
            </tr>
        }

    </table>
</div>
