@model IEnumerable<DIU_CPC_BlueDivision.Models.AspNetUser>
@using Microsoft.AspNet.Identity;
@using DIU_CPC_BlueDivision.DifferentLayout_Database;
@using DIU_CPC_BlueDivision.DatabaseConnection;
@using System.Configuration;

@{

    ViewBag.Title = "Index";
    string superAdmin = ConfigurationManager.AppSettings["SuperAdmin"].ToString();
    string admin = ConfigurationManager.AppSettings["Admin"].ToString();
    string student = ConfigurationManager.AppSettings["Student"].ToString();

    string str = "", UserName = "", secureCode = "";
    str = User.Identity.GetUserId();

    if (!string.IsNullOrEmpty(str))
    {
        AspNetUsersBusinessLayer aspNetUsersBusinessLayer = new AspNetUsersBusinessLayer();
        UserName = aspNetUsersBusinessLayer.GetUserName(str);
        secureCode = aspNetUsersBusinessLayer.GetSecureCode(str);
    }
}

<br /><br /><br />
<p align="center" style="font-size:30px; color:orange; font-family:Impact">List Of Admin ContestTracker</p>
<hr style="border: 4px solid; color: #F5F3F1">
@*<p>
        @Html.ActionLink("Create New", "Create")
    </p>*@

<div class="col-md-8 col-lg-offset-2 col-md-offset-2">

    <div>
        <h4>Select Number of Rows</h4>
        <div class="form-group">
            <select name="state" id="maxRows" class="form-control" style="width:150px;">
                <option value="5000">Show All</option>
                <option value="5">5</option>
                <option value="10">10</option>
                <option value="15">15</option>
                <option value="20">20</option>
                <option value="50">50</option>
                <option value="75">75</option>
                <option value="100">100</option>
            </select>
        </div>
    </div>
    <div style="overflow-x:auto;">
        <table id="mytable" class="table table-hover text-center">
            <thead>
                <tr class="success text-center" style="font-weight: bold; font-size:18px">
                    @*<td>
                            @Html.DisplayNameFor(model => model.SecureCode)
                        </td>*@
                    <td>
                        @Html.DisplayNameFor(model => model.Email)
                    </td>
                    @*<td>
                            @Html.DisplayNameFor(model => model.PhoneNumber)
                        </td>*@
                    <td>
                        @Html.DisplayNameFor(model => model.UserName)
                    </td>
                    @if (secureCode == superAdmin)
                    {
                        <td>Action</td>
                    }

                </tr>
            </thead>

            @foreach (var item in Model)
            {
                using (Html.BeginForm("DeleteAdmin_1", "ListOfAdmin_1s", new { id = item.Id }))
                {
                    <tbody>
                        <tr>
                            @*<td>
                                    @Html.DisplayFor(modelItem => item.SecureCode)
                                </td>*@
                            <td>
                                @Html.DisplayFor(modelItem => item.Email)
                            </td>
                            @*<td>
                                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                                </td>*@
                            <td>
                                @Html.DisplayFor(modelItem => item.UserName)
                            </td>
                            @if (secureCode == superAdmin)
                            {
                                <td>
                                    <button class="btn btn-danger btn-xs" type="submit" onclick="return confirm('are you sure you want to delete ID = @item.Id?')"> <span class="glyphicon glyphicon-trash"> </span> Delete</button>
                                </td>
                            }
                            @*<td>
                                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                                </td>*@
                        </tr>
                    </tbody>
                }
            }

        </table>
    </div>
    <br />
    <div class="pagination-container" align="center">
        <nav>
            <ul class="pagination" id="pagination"></ul>
        </nav>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        var table = '#mytable'
        $('#maxRows').on('change', function () {
            $('#pagination').html('');
            var trnum = 0
            var maxRows = parseInt($(this).val())
            var totalRows = $(table + ' tbody tr').length

            // hide column 5 select korle 5 ta row show korbe
            $(table + ' tr:gt(0)').each(function () {
                trnum++
                if (trnum > maxRows) {
                    $(this).hide()
                }
                if (trnum <= maxRows) {
                    $(this).show()
                }
            })

            // show pagination
            if (totalRows > maxRows) {
                var pagenum = Math.ceil(totalRows / maxRows);
                //$('.pagination').append('<li><a href="#">&laquo;</a></li>').show();
                for (var i = 1; i <= pagenum;) {
                    $('#pagination').append('<li data-page="' + i + '">\<span>' + i++ + '<span class="sr-only">(current)</span></span>\</li>').show()
                }
                //$('.pagination').append('<li><a href="#">&raquo;</a></li>').show();
            }
            // first value ta active rakhe always
            $('#pagination li:first-child').addClass('active')

            // page a click korar pore column kore show kore
            $('#pagination li').on('click', function () {
                var pageNum = $(this).attr('data-page')
                var trIndex = 0;
                $('#pagination li').removeClass('active')
                $(this).addClass('active');
                $(table + ' tr:gt(0)').each(function () {
                    trIndex++;
                    if (trIndex > (maxRows * pageNum) || trIndex <= ((maxRows * pageNum) - maxRows)) {
                        $(this).hide();
                    } else {
                        $(this).show();
                    }
                })
            })
        })
        // get serial no
        $(function () {
            $('#mytable tr:eq(0)').prepend('<td class="text-center">No</td>')
            var id = 0;
            $('#mytable tr:gt(0)').each(function () {
                id++
                $(this).prepend('<td style="font-size:19px">' + id + '</td>')
            })
        })
    });
</script>
