@model DIU_CPC_BlueDivision.Models.ContestantsTable
@using DIU_CPC_BlueDivision.Models;

@{
    ViewBag.Title = "Details";

    string appPath = "";
    appPath = string.Format("{0}", Request.Url.AbsoluteUri);
    string[] arr = appPath.Split('/');
    int id = Convert.ToInt32(arr[5]);

    ContestAndContestantsEntities db = new ContestAndContestantsEntities();
    ContestantsTable contestantsTable = db.ContestantsTables.Find(id);
    int cTrId = (int)contestantsTable.ContestTrackerId;

}

<br /><br />
<h2>Details</h2>

<div>
    <h4>ContestantsTable</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ContestantsName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContestantsName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StudentId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StudentId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CFHandle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CFHandle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CFHandleLink)
        </dt>

        <dd>
            <a target="_blank" href="@Model.CFHandleLink">@Html.DisplayFor(model => model.CFHandleLink)</a>

        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index", new { cTrackerId = cTrId })
</p>




@*<dt>
        @Html.DisplayNameFor(model => model.Score)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Score)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.TotalSolve)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.TotalSolve)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.TotalParticipation)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.TotalParticipation)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.OnlineParticipation)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.OnlineParticipation)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.SolveCountOnsite)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.SolveCountOnsite)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.SolveCountUpsolves)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.SolveCountUpsolves)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.AverageSolvePerContest)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.AverageSolvePerContest)
    </dd>*@