@model IEnumerable<DIU_CPC_BlueDivision.Models.ContestantsTable>

@{
    ViewBag.Title = "Index";
}

<br /><br />
<h2>Index</h2>

@{
    string appPath = "";
    appPath = string.Format("{0}", Request.Url.AbsoluteUri);
    string[] arr = appPath.Split('=');
    int Id = 0;
    Id = Convert.ToInt32(arr[1]);

}

<br />
@using (Html.BeginForm("InputFromExcelFile", "ContestantsTables", new { cTId = Id }, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="col-xs-4 col-lg-2 col-md-2 pull-right">
        <input id="ExcelFileInputButton" type="submit" value="Import From Excel File" class="btn btn-warning btn-sm" />
    </div>
    <div class="col-xs-8 col-lg-4 col-md-5 pull-right">
        <input id="ExcelFileInput" type="file" name="excelFile" class="form-control" required />
    </div>
}

<br /><br /><br />

<p>
    <button class="btn btn-success btn-sm" type="button" onclick="location.href='@Url.Action("Create", "ContestantsTables", new { ContestTrackerId = Id })'"><span class="glyphicon glyphicon-edit"></span> Create New</button>
</p>
<br />
<div style="overflow-x:auto;">
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ContestantsName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StudentId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CFHandle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CFHandleLink)
            </th>
            <th>Action</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ContestantsName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StudentId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CFHandle)
                </td>
                <td>
                    <a target="_blank" href="@item.CFHandleLink">@Html.DisplayFor(modelItem => item.CFHandleLink)</a>
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }

    </table>
</div>

<script type="text/javascript">
    $('#ExcelFileInputButton').click(function () {
        var extension = $('#ExcelFileInput').val().split('.').pop().toLowerCase();
        if ($('#ExcelFileInput').val() != '') {
            if ($.inArray(extension, ['xls', 'xlsx', 'csv']) == -1) {
                //alert('Sorry, You can only upload an image.');
                swal("Sorry!", "You can only upload a Excel File!", "error");
                return false;
            }
        }
    });
</script>

@*<th>
        @Html.DisplayNameFor(model => model.Score)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.TotalSolve)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.TotalParticipation)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.OnlineParticipation)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.SolveCountOnsite)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.SolveCountUpsolves)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.AverageSolvePerContest)
    </th>

    <td>
        @Html.DisplayFor(modelItem => item.Score)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.TotalSolve)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.TotalParticipation)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.OnlineParticipation)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.SolveCountOnsite)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.SolveCountUpsolves)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.AverageSolvePerContest)
    </td>*@
