@model DIU_CPC_BlueDivision.Models.Blog_tbl

@{
    ViewBag.Title = "Details";
}
<br /><br />

<div class="container">
    <div class="col-lg-8 col-md-10 col-sm-12 col-xs-12 col-lg-offset-2 col-md-offset-1">
        <div>
            @*id="@Html.DisplayFor(modelItem => Model.BlogDivId)"*@
            <label class="hidden-xs" style="font-family:Comic Sans MS; line-height:130%; font-size:20px;" id="txbType">@Html.DisplayFor(modelItem => Model.Title)</label>
            <label class="hidden-sm hidden-md hidden-lg" style="font-family:Comic Sans MS; line-height:130%; font-size:16px;" id="Label1">@Html.DisplayFor(modelItem => Model.Title)</label>
            <br />
            <label style="color:Red;" class="h5 navbar-right" id="TextBox1">@Html.DisplayFor(modelItem => Model.Date)</label>
            <br /><br />

            @if (Model.BlogImage != null)
            {
                <div class="container">
                    <div class="tz-gallery">
                        <div class="row">
                            <div class="col-lg-6 col-md-7 col-sm-7 col-xs-12  col-lg-offset-1 col-md-offset-1 col-sm-offset-2 blogImage">
                                @{
                                    var imgSrc = "";

                                    var base64 = Convert.ToBase64String(Model.BlogImage);
                                    imgSrc = String.Format("data:image/gif;base64,{0}", base64);
                                    <img src="@imgSrc" alt="did not load" style="border-radius: 10px;" class="img-responsive" />
                                }

                            </div>
                        </div>
                    </div>
                </div>
            }
            else
            {
                <img src="empty.gif" style="height:0px; width:0px">
            }
            <br />
            @*for prevent cross site scripting attack*@
            @{
                string strText = Model.Text;
                if (strText.Contains("<script") || strText.Contains("</script>"))
                {
                    <div class="hidden-xs" style="margin-top:10px">
                        <label style="line-height:130%" class="h4" id="TextBox2">@strText</label>
                    </div>
                    <div class="hidden-sm hidden-md hidden-lg" style="margin-top:10px">
                        <label style="line-height:130%" class="h5" id="Label2">@strText</label>
                        <br /><br />
                    </div>
                }
                else
                {
                    <div class="hidden-xs" style="margin-top:10px">
                        <label style="line-height:130%" class="h4" id="TextBox2">@(new HtmlString(Model.Text))</label>
                    </div>
                    <div class="hidden-sm hidden-md hidden-lg" style="margin-top:10px">
                        <label style="line-height:130%" class="h5" id="Label2">@(new HtmlString(Model.Text))</label>
                        <br /><br />
                    </div>
                }
            }

            @{
                string str = Model.BlogDivId;
                string url = HttpContext.Current.Request.Url.AbsoluteUri;
                Uri uri = new Uri(url);
                string address = uri.Scheme + Uri.SchemeDelimiter + uri.Host + ":" + uri.Port + "/BlogPage%23" + str;
                <iframe src="https://www.facebook.com/plugins/share_button.php?href=@address&layout=button_count&size=large&mobile_iframe=true&appId=377299629711169&width=103&height=28" width="103" height="28" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
            }

            @*<iframe src="https://www.facebook.com/plugins/share_button.php?href=https://www.youtube.com/watch?v=B_pQNLVnIos&layout=button_count&size=large&mobile_iframe=true&appId=377299629711169&width=103&height=28" width="103" height="28" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>*@
            @*<a class="btn btn-default" href="https://www.linkedin.com/shareArticle?mini=true&url=https://stackoverflow.com/questions/10713542/how-to-make-custom-linkedin-share-button&title=Create LinkedIn Share button on Website Webpages&summary=chillyfacts.com&source=Chillyfacts" onclick="window.open(this.href, 'mywin','left=20,top=20,width=700,height=450,toolbar=1,resizable=0'); return false;"><img src="../Image/linkedin.png" alt="" height="20" />Share</a>*@


        </div>
        <br />
    </div>

</div>

<div class="container">
    <div class="row">
        <a class="btn btn-default" href="@Url.Action("Index", "Blog")">Back to List</a>
    </div>
</div>
