@model IEnumerable<DIU_CPC_BlueDivision.Models.Blog_tbl>

@using System.Text;
@{
    ViewBag.Title = "Index";
    //Layout = "~/Views/Shared/_Layout_Unauthorize.cshtml";
}

<style>
    .blogImage {
        transition: all 0.2s ease;
    }

        .blogImage:hover {
            transform: scale(1.03);
        }
</style>
<br /><br /><br /><br />
<div class="container">
    <div align="center">
        <p style="font-size:30px; color:orange; font-family:Impact">DIU BlueSheet blog</p>
        <hr style="border: 4px solid; color: #F5F3F1">
    </div>
</div>
<br />
<div class="container">
    @foreach (var item in Model)
    {
        <div class="row">
            <div class="col-lg-8 col-md-10 col-sm-12 col-xs-12 col-lg-offset-2 col-md-offset-1">
                <div id="@Html.DisplayFor(modelItem => item.BlogDivId)">
                    <label class="hidden-xs" style="font-family:Comic Sans MS; line-height:130%; font-size:20px;" id="txbType">@Html.DisplayFor(modelItem => item.Title)</label>
                    <label class="hidden-sm hidden-md hidden-lg" style="font-family:Comic Sans MS; line-height:130%; font-size:16px;" id="Label1">@Html.DisplayFor(modelItem => item.Title)</label>
                    <br />
                    <label style="color:Red;" class="h5" id="TextBox1">@Html.DisplayFor(modelItem => item.Date)</label>

                    @if (item.BlogImage != null)
                    {
                        <br /><br />
                        <div class="container">
                            <div class="tz-gallery">
                                <div class="row">
                                    <div class="col-lg-4 col-md-7 col-sm-7 col-xs-12  col-lg-offset-2 col-md-offset-1 col-sm-offset-2">
                                        @*blogImage*@
                                        @{
                                            var imgSrc = "";
                                            var base64 = Convert.ToBase64String(item.BlogImage);
                                            imgSrc = String.Format("data:image/gif;base64,{0}", base64);
                                            <img src="@imgSrc" alt="did not load" style="border-radius: 10px;" class="img-responsive blogImage" />
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br />
                    }
                    else
                    {
                        <img src="empty.gif" style="height:0px; width:0px">
                    }
                    @{
                        var strText = new HtmlString(item.Text);
                        string str1Text = strText.ToString();
                        if (str1Text.Length > 500)
                        {
                            StringBuilder sb = new StringBuilder(str1Text);
                            sb.Remove(500, sb.Length - 500);
                            str1Text = sb.ToString() + "...";
                        }


                        // for prevent cross site scripting attack

                        if (str1Text.Contains("<script") || str1Text.Contains("</script>"))
                        {
                            <div class="hidden-xs" style="margin-top:10px">
                                <label style="line-height:130%" class="h4" id="TextBox2">@str1Text</label>
                            </div>
                            <div class="hidden-sm hidden-md hidden-lg" style="margin-top:10px">
                                <label style="line-height:130%" class="h5" id="Label2">@str1Text</label>
                                <br /><br />
                            </div>
                        }
                        else
                        {
                            <div class="hidden-xs" style="margin-top:10px">
                                <label style="line-height:130%" class="h4" id="TextBox2">@(new HtmlString(str1Text))</label>
                            </div>
                            <div class="hidden-sm hidden-md hidden-lg" style="margin-top:10px">
                                <label style="line-height:130%" class="h5" id="Label2">@(new HtmlString(str1Text))</label>
                                <br /><br />
                            </div>
                        }
                    }

                    @*<div class="navbar-right">@Html.ActionLink("Read More...", "Details", new { id = item.Id })</div>*@
                    <div class="navbar-right"><button class="btn btn-default btn-xs" type="button" onclick="location.href='@Url.Action("Details", "Blog", new { id = item.Id })'"> <b>Read More...</b> </button></div>
                    <br />

                    @{
                        string str = item.BlogDivId;
                        string url = HttpContext.Current.Request.Url.AbsoluteUri;
                        Uri uri = new Uri(url);
                        string address = uri.Scheme + Uri.SchemeDelimiter + uri.Host + ":" + uri.Port + "/Blog%23" + str;
                        <iframe src="https://www.facebook.com/plugins/share_button.php?href=@address&layout=button_count&size=large&mobile_iframe=true&appId=377299629711169&width=103&height=28" width="103" height="28" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
                    }

                    @*<iframe src="https://www.facebook.com/plugins/share_button.php?href=https://www.youtube.com/watch?v=B_pQNLVnIos&layout=button_count&size=large&mobile_iframe=true&appId=377299629711169&width=103&height=28" width="103" height="28" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>*@
                    @*<a class="btn btn-default" href="https://www.linkedin.com/shareArticle?mini=true&url=https://stackoverflow.com/questions/10713542/how-to-make-custom-linkedin-share-button&title=Create LinkedIn Share button on Website Webpages&summary=chillyfacts.com&source=Chillyfacts" onclick="window.open(this.href, 'mywin','left=20,top=20,width=700,height=450,toolbar=1,resizable=0'); return false;"><img src="../Image/linkedin.png" alt="" height="20" />Share</a>*@


                </div>
                <br />
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-md-10 col-sm-12 col-xs-12 col-lg-offset-2 col-md-offset-1">
                <br />
                <hr style="border: 2px solid; color: #F5F3F1">
                <br />
            </div>
        </div>
    }
</div>
