@using System.Text;
@model Software_Company_WebApplication.Models.Blog_tbl

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Blog_tbl</h4>
    <hr />
    @*<div class="row" style="font-size:18px">
        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12 col-sm-offset-1">
            <div class="row">
                <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                    <div class="form-group has-success">
                        <label>@Html.DisplayNameFor(model => model.Title)</label>
                        <textarea disabled rows="3" class="form-control" style="font-size:16px"> @Html.DisplayFor(model => model.Title)</textarea>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="form-group has-success">
                        <label>@Html.DisplayNameFor(model => model.Date)</label>
                        <div class="input-group">
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                            <textarea disabled rows="1" class="form-control" style="font-size:16px">@Html.DisplayFor(model => model.Date)</textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="form-group has-success">
                        <label>@Html.DisplayNameFor(model => model.BlogImage) </label>
                        @{
                            var imgSrc = "";
                            if (Model.BlogImage != null)
                            {
                                var base64 = Convert.ToBase64String(Model.BlogImage);
                                imgSrc = String.Format("data:image/gif;base64,{0}", base64);
                            }
                        }
                        <img src="@imgSrc" alt="This person did not post with an image" style="border-radius: 10px;" class="img-responsive" />
                    </div>

                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="form-group has-success">
                        <label>@Html.DisplayNameFor(model => model.Text) </label>
                        <textarea disabled rows="10" class="form-control" style="font-size:16px">@Html.DisplayFor(model => model.Text)</textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>*@
    <dl class="dl-horizontal">
            <dt>
                <label style="font-size:18px; color:royalblue">@Html.DisplayNameFor(model => model.Title) :</label>
            </dt>

            <dd>
                <label style="font-size:16px">@Html.DisplayFor(model => model.Title)</label>
            </dd>

            <dt>
                <label style="font-size:18px; color:royalblue">@Html.DisplayNameFor(model => model.Date) :</label>
            </dt>

            <dd>
                <label style="font-size:18px; color:red">@Html.DisplayFor(model => model.Date)</label>
</dd>

            <dt>
                <br />
                <label style="font-size:18px; color:royalblue">@Html.DisplayNameFor(model => model.BlogImage) :</label>
</dt>

            <dd>
                <br />
                @{
                    var imgSrc = "";
                    if (Model.BlogImage != null)
                    {
                        var base64 = Convert.ToBase64String(Model.BlogImage);
                        imgSrc = String.Format("data:image/gif;base64,{0}", base64);
                    }
                }
                <img src="@imgSrc" alt="This person did not post with an image" style="border-radius: 10px;" class="img-responsive" />
                <br /><br />
            </dd>

            <dt>
                <label style="font-size:18px; color:royalblue">@Html.DisplayNameFor(model => model.Text) :</label>
            </dt>

            <dd>
                <label style="font-size:16px">@(new HtmlString(Model.Text))</label>
            </dd>
        </dl>
</div>
<p>
    @*@Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |*@
    @*@Html.ActionLink("Back to List", "Index")*@
    <a class="btn btn-default" href="@Url.Action("Edit", "BlogPostUpdateVersion", new { id = Model.Id })">Edit</a>
    <a class="btn btn-default" href="@Url.Action("Index", "BlogPostUpdateVersion")">Back to List</a>
</p>