@model DIU_CPC_BlueDivision.Models.Problem

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Problem</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ProblemName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProblemName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProblemLink)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProblemLink)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Comment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BlueSheet.BlueSheetName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BlueSheet.BlueSheetName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
