@model DIU_CPC_BlueDivision.Models.ProblemsStudent

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ProblemsStudent</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Comment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsSolved)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsSolved)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Problem.ProblemName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Problem.ProblemName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Student.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Student.UserName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
