@model IEnumerable<DIU_CPC_BlueDivision.Models.ProblemsStudent>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Comment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsSolved)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Problem.ProblemName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Student.UserName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Comment)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsSolved)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Problem.ProblemName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Student.UserName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { problemId = item.ProblemId, studentId = item.StudentId })
        </td>
    </tr>
}

</table>
