@model CrudOperation.Models.Employee


<div class="row">
    <div class="col-lg-4 col-md-5 col-sm-6">

        <h2>Save</h2>

        @using (Html.BeginForm("Save", "Redwan", FormMethod.Post, new { id = "popupForm" }))
        {
            if (Model != null && Model.Id > 0)
            {
                @Html.HiddenFor(a => a.Id)
            }

            <div class="form-group">
                <label>First Name</label>
                @Html.TextBoxFor(a => a.FirstName, new { @class = "form-control" })
                @Html.ValidationMessageFor(a => a.FirstName)
            </div>
            <div class="form-group">
                <label>Last Name</label>
                @Html.TextBoxFor(a => a.LastName, new { @class = "form-control" })
                @Html.ValidationMessageFor(a => a.LastName)
            </div>
            <div class="form-group">
                <label>Last Name</label>
                @Html.TextBoxFor(a => a.EmailId, new { @class = "form-control" })
                @Html.ValidationMessageFor(a => a.EmailId)
            </div>
            <div class="form-group">
                <label>Last Name</label>
                @Html.TextBoxFor(a => a.City, new { @class = "form-control" })
                @Html.ValidationMessageFor(a => a.City)
            </div>
            <div class="form-group">
                <label>Last Name</label>
                @Html.TextBoxFor(a => a.Country, new { @class = "form-control" })
                @Html.ValidationMessageFor(a => a.Country)
            </div>
            <div>
                <input type="submit" value="Save" class="btn btn-default" />
            </div>

        }
    </div>
</div>