@model Software_Company_WebApplication.Models.Blog_tbl

@{
    ViewBag.Title = "Blog_Post";
}

<h2>Blog_Post</h2>

@using (Html.BeginForm("Blog_Post", "BlogPost", FormMethod.Post, new { encType = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2", @style="font-size:20px" })
        <div class="col-md-8">
            @*becarefull  @Request["Title"] ai Title er shathe name="Title" o mill thakte hobe.*@
            <textarea id="Title1" name="Title" value='@Request["Title"]' class="form-control" rows="2" placeholder="Enter Your Post Title"> </textarea>
            @*<input type="text" id="Title1" name="Title" value='@Request["Title"]' class="form-control" placeholder="Enter Your Post Title" />*@
            @*@Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })*@
            @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.BlogImage, htmlAttributes: new { @class = "control-label col-md-2", @style = "font-size:20px" })
        <div class="col-md-3">
            @*@Html.EditorFor(model => model.BlogImage, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.BlogImage, "", new { @class = "text-danger" })*@
            <input type="file" id="image1" name="image1" class="form-control" />
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Text, htmlAttributes: new { @class = "control-label col-md-2", @style = "font-size:20px" })
        <div class="col-md-8">
            <textarea id="Text1" name="Text" value='@Request["Text"]' class="form-control" rows="4" placeholder="Enter Your Text"> </textarea>
            @*<input type="text" id="Text1" name="Text" value='@Request["Text"]' class="form-control" placeholder="Enter Your Text" />*@
            @*@Html.EditorFor(model => model.Text, new { htmlAttributes = new { @class = "form-control" } })*@
            @Html.ValidationMessageFor(model => model.Text, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-8">
            <input id="submitType" type="submit" value="Create" class="btn btn-default" @*onclick="return confirm('are you sure you want to upload?')"*@ />
            <br /> <br />
        </div>
    </div>
</div>
}
<div class="col-md-offset-2 col-md-8">
    <div id="divError1" class="alert alert-danger collapse">
        <button id="linkClose1" class="close">&times;</button>
        <div id="divErrorText1" runat="server"></div>
    </div>
</div>


<script type="text/javascript">
    $('#submitType').click(function () {
        if (/*$('#image1').val().trim() === '' ||*/ $('#Title1').val().trim() === '' || $('#Text1').val().trim() === '') {
            var str = '';
            if ($('#Title1').val().trim() === '') {
                str += "Title is missing ** ";
            }
            //if ($('#image1').val().trim() === '') {
            //    str += "Image is missing ** ";
            //}
            if ($('#Text1').val().trim() === '') {
                str += "Text is missing ** ";
            }
            $('#divErrorText1').text(str);
            $('#divError1').show('fade');
            return false;       // return false na dile hobe na. return false er jonno button ta kaj korbe na.
        }
        else {
            alert('Post is submitted...');
        }
    });
    $('#linkClose1').click(function () {
        $('#divError1').hide('fade');
    });

</script>


