@model DIU_CPC_BlueDivision.Models.ContestTable

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>ContestTable</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ContestName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContestName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ContestLink)
        </dt>

        <dd>
            <a target="_blank" href="@Model.ContestLink">@Html.DisplayFor(model => model.ContestLink)</a>
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumberOfProblems)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumberOfProblems)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Participation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Participation)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
