@model DIU_CPC_BlueDivision.Models.ContestTable

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ContestTable</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ContestName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContestName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ContestLink)
        </dt>

        <dd>
            <a target="_blank" href="@Model.ContestLink">@Html.DisplayFor(model => model.ContestLink)</a>
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumberOfProblems)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumberOfProblems)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Participation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Participation)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
